//preview
.preview-popup {
	font-size: 12px;
	color: #000;
	margin-bottom: 30px;
	max-width: 960px;

	.preview-popup__title {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding-right: 35px;
		margin-bottom: 10px;

		h2 {
			font-size: 20px;
			line-height: 24px;
			font-weight: 800;
		}
	}

	&__inner {
		display: flex;
		padding: 15px;
		position: relative;
		flex-direction: column;

		.close-btn {
			display: flex;
			position: absolute;
			right: 10px;
			top: 10px;
			outline: none;

			i {
				&::before {
					color: #000;
				}
			}
		}

		.product__inner-left {
			margin-bottom: 15px;
		}

		.preview-popup__card {
			display: flex;
		}

		.preview-popup__photo {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-width: 380px;
			padding-top: 30px;
			position: relative;
			width: 100%;

			&-info {
				display: flex;
				align-content: center;
				margin-bottom: 15px;
				position: absolute;
				top: 0;
				width: 120%;

				.article {
					display: flex;
					align-items: center;
					justify-content: center;
					max-width: 140px;
					width: 100%;
					border-right: 1px solid #e7e7e7;
					border-left: 1px solid #e7e7e7;
					margin: 0 20px 0 20px;
				}

				.product__rating {
					display: flex;
					align-items: center;
				}
			}

			////////////////////////////////////////////////////
			.preview-popup__wrapper {
				display: flex;
				justify-content: center;
				max-width: 380px;
				width: 100%;

				&-for {
					border: 1px solid #f2f2f2;
					border-radius: 4px;
					width: 100%;
					position: relative;

					.slick-list {
						height: 100%;
					}

					.slick-track {
						height: 100%;
					}

					.slick-slide > div {
						height: 100%;
					}

					.preview-popup__wrapper-item {
						max-width: 380px;
						padding: 19px 0;
						display: flex !important;
						justify-content: center;
						position: relative;
						height: 100%;
						.fancybox-link-img {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
						.card__setting {
							opacity: 1;
							visibility: visible;
							right: 10px;
							top: 10px;
						}
						.preview-popup__item-icons {
							position: absolute;

							.item-icon {
								width: 32px;
								height: 32px;
								display: flex;
								align-items: center;
								justify-content: center;
								border: 1px solid #e7e7e7;
								border-radius: 2px;
								margin-bottom: 10px;
								transition: all 0.3s;
								background-color: #fff;

								i {
									&::before {
										color: #4e4c4c;
										transition: all 0.3s;
									}
								}

								&:hover {
									background: #085892;
									border: 1px solid #085892;
									transition: all 0.3s;

									i {
										&::before {
											color: #fff;
											transition: all 0.3s;
										}
									}
								}
							}
						}

						.preview-popup__item-promo {
							position: absolute;
							left: 0;
							top: 10px;
							display: flex;
							flex-direction: column;
							max-width: 90px;
							width: 100%;
							letter-spacing: -1px;

							.slider-promo {
								border-radius: 0 4px 4px 0;
								color: #fff;
								text-transform: uppercase;
								font-size: 10px;
								font-weight: 500;
								text-align: center;
								padding: 5px 0;

								&:not(:last-child) {
									margin-bottom: 5px;
								}

								&.order {
									background-color: #0c7c06;
								}

								&.top {
									background-color: #fa2c31;
								}

								&.material {
									background-color: #7bb600;
								}

								&.discount {
									background-color: #fd530e;
								}

								&.shop {
									background-color: #085892;
								}

								&.novelty {
									background-color: #b6b400;
								}

								&.withdrawn {
									background-color: #662e27;
								}

								&.guarantee {
									background-color: #47bce3;
								}
							}
						}

						.slider__item-view {
							position: absolute;
							right: 5px;
							bottom: 5px;
							display: flex;

							.slider-view {
								display: flex;
								justify-content: center;
								align-items: center;

								i {
									margin-right: 0;

									&::before {
										color: #64b0ce;
									}
								}
							}
						}
					}
				}
			}
		}

		.preview-popup__choose {
			padding: 30px 0 0 25px;

			.product__buy {
				margin-bottom: 25px;
				display: flex;

				&-price {
					display: flex;
					flex-direction: column;
					align-items: center;
					max-width: 110px;
					width: 100%;
					margin-right: 20px;

					.price-counter {
						display: flex;
						flex-direction: column;
						text-align: start;
						margin-bottom: 28px;

						.old-price {
							font-weight: 500;
							font-size: 16px;
							color: #999999;
							text-decoration: line-through;
						}

						.new-price {
							font-weight: 800;
							font-size: 24px;
						}
					}
				}

				&-act {
					display: flex;
					flex-direction: column;
					padding-top: 5px;

					.product__act-info {
						text-align: start;
						margin-bottom: 10px;
						padding-left: 25px;
						min-height: 44px;

						p {
							font-weight: 500;
							color: #212121;
						}
					}

					.product__act-btn {
						display: flex;

						a {
							color: #fff;
							font-size: 14px;
							font-weight: 500;
							padding: 15px 10px 15px 40px;
							width: 210px;
							border: 2px solid #fff;
							border-radius: 8px;
							box-shadow: 0 5px 12px rgba(179, 178, 179, 0.75);
							background: rgb(100, 176, 206);
							background: linear-gradient(90deg, rgba(100, 176, 206, 1) 0%, rgba(100, 176, 206, 1) 100%);
							position: relative;

							&::before {
								background-position: center;
								background-size: cover;
								height: 30px;
								width: 30px;
								position: absolute;
								left: 0;
								top: 50%;
								transform: translate(25%, -50%);
							}

							&:not(:last-child) {
								margin-right: 15px;
							}

							&:hover {
								background: linear-gradient(0, rgba(30, 96, 148, 1) 0%, rgba(39, 131, 176, 1) 100%);
							}
						}

						.buy-click {
							padding: 15px 12px 15px 45px;
							max-width: 175px;
							position: relative;
							background: linear-gradient(to top, #fd4b04 0, #fd692a 100%);
							&:hover {
								background: linear-gradient(to top, #f60 0, #fd692a 100%);
							}

							&::before {
								content: '';
								background-image: url('../img/product/btn-click.svg');
							}
						}

						.buy-basket-btn {
							&::before {
								content: '';
								background-image: url('../img/product/btn-basket.svg');
							}
						}
					}
				}
			}

			.product__styles {
				//wrapper
				&-radio {
					display: flex;
					margin-bottom: 36px;
				}

				// global styles
				&-title {
					font-weight: 800;
					font-size: 14px;
					color: #212121;
					margin-bottom: 15px;
				}

				&-choice {
					.product__choice-line:not(:last-child) {
						margin-bottom: 9px;
					}
				}

				// size block
				&-size {
					.product__styles-choice {
						max-height: 160px;
						overflow: auto;
						margin-right: 30px;
					}

					.mCSB_inside > .mCSB_container {
						margin-right: 30px;
					}
				}

				// set block
				&-set {
					display: flex;
					flex-direction: column;

					.product__styles-choice {
						display: flex;
						flex-direction: column;
						height: 100%;
						justify-content: flex-start;
					}
				}

				//color glazing
				&-texture {
					display: flex;

					.product__styles-icons {
						display: flex;
					}

					.product-icon {
						cursor: pointer;
						margin-right: 5px;
						border: 2px solid transparent;
						transition: all 0.3s;
						border-radius: 4px;

						&:hover,
						&.current {
							border: 2px solid #64b0ce;
							transition: all 0.3s;
						}
					}
				}

				&-color {
					margin-right: 15px;

					.product-icon:last-child {
						margin-right: 0;
					}
				}

				&-icons {
					.product-icon:last-child {
						margin-right: 0;
					}
				}
			}
		}

		.product__tools {
			border-left: 1px solid #f4f4f4;

			&-items {
			}

			&-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				font-weight: 500;
				color: #212121;
				margin-bottom: 10px;
			}
		}
	}

	&__additional {
		.product__table {
			font-size: 14px;
			margin-bottom: 10px;

			&-header {
				display: flex;
				font-weight: 500;
				justify-content: space-between;
				border-bottom: 1px solid #f4f4f4;

				.table-elements {
					font-size: 15px;
					display: flex;
					justify-content: center;

					span {
						background-color: #085892;
						color: #fff;
						padding: 2px 4px;
					}
				}
			}

			&-body {
				display: flex;
				flex-direction: column;

				.table-elements {
					font-size: 15px;
					justify-content: flex-start;
					text-align: start;
				}

				.table-price,
				.table-cost {
					font-size: 18px;
					font-weight: 500;
				}

				.table-photo {
					margin-right: 10px;
				}

				.table-controls {
					justify-content: flex-end;
				}
			}

			&-item {
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid #f4f4f4;
			}

			&-line {
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;

				&.table-photo {
					flex: 0 0 140px;
					max-width: 140px;
				}

				&.table-elements {
					font-weight: 400;
					flex: 0 0 400px;
					max-width: 400px;
					word-break: break-all;
				}

				&.table-price {
					flex: 0 0 90px;
					max-width: 90px;
				}

				&.table-count {
					flex: 0 0 120px;
					max-width: 120px;
				}

				&.table-cost {
					flex: 0 0 100px;
					max-width: 100px;
				}

				&.table-controls {
					flex: 0 0 240px;
					max-width: 240px;

					.buy-basket-btn {
						padding: 6px 15px 6px 40px;
						max-width: 220px;

						&::before {
							content: '';
							width: 18px;
							height: 18px;
							transform: translate(60%, -50%);
							background-image: url('../img/product/btn-basket.svg');
						}
					}
				}
			}
		}

		.product__additional-show-all {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}
