<!-- Preview popup product -->
<div class="preview-popup product-popup" id="preview-product">
    <div class="preview-popup__inner">
        <div class="product__inner-left">
            <div class="preview-popup__title">
                <h2>Межкомнатная одностворчатая дверь СМАЛЬТА 11 остеклённая,
                    cлоновая
                    кость, патина, золото.</h2>
                <a href="#"> <img src="../../img/product/geona-company.png" alt=""></a>
            </div>
            <div class="preview-popup__card">
                <div class="preview-popup__photo">
                    <div class="preview-popup__photo-info">
                        <span class="product-status">Под заказ</span>
                        <span class="product-status product-status-yes">В наличии</span>
                        <span class="article">Артикул: ЕЛ2503</span>
                        <div class="product__rating">
                            <div class="rating-block static-rating" id="rateYo"></div>
                            <span>55 отзывов</span>
                        </div>
                    </div>
                    <div class="preview-popup__wrapper">
                        <div class="preview-popup__wrapper-for">
                            <div class="preview-popup__wrapper-item">
                                <a class="fancybox-link-img" href="../../img/product/product-slider-for.png"></a>
                                <img src="../../img/product/product-slider-for.png" alt="">
                                <div class="preview-popup__item-icons">
                                    <a href="#alert-featured" class="item-heart item-icon js-toggle js-alert-link"><i
                                            class="icon-heart"></i></a>
                                    <a href="#alert-comparison" class="item-rating item-icon js-toggle js-alert-link"><i
                                            class="icon-compare"></i></a>
                                </div>
                                <div class="preview-popup__item-promo">
                                    <div class="slider-promo order">поД
                                        заказ
                                    </div>
                                    <div class="slider-promo top">топ
                                        продаж
                                    </div>
                                    <div class="slider-promo material">100%
                                        массив
                                    </div>
                                    <div class="slider-promo discount">скидка
                                    </div>
                                    <div class="slider-promo shop">в магазине
                                    </div>
                                    <div class="slider-promo novelty">новинка
                                    </div>
                                    <div class="slider-promo withdrawn">снято с
                                        продаж
                                    </div>
                                    <div class="slider-promo guarantee">гарантия
                                        1
                                        год
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.social__block -->
                </div>
                <div class="preview-popup__choose product__choose">
                    <div class="product__choose-buy product__buy">
                        <div class="product__buy-price">
                            <div class="price-counter">
                                <span class="old-price">12 607 ₽</span>
                                <span class="new-price">11 607 ₽</span>
                            </div>
                            <div class="quantity-counter">
                                <div class="number-picker"></div>
                            </div>
                        </div>
                        <div class="product__buy-act">
                            <div class="product__act-info">
                                <p>Цена указана за полотно! Цена за комплект <span data-start-price="14599"
                                                                                   class="price-counter-sum">14599</span>
                                    ₽ </p>
                                <p class="current-set">В комплекте: <span
                                        class="change-text-set">какойто текст html</span><span style="display: none;"
                                                                                               class="without-set-text">какойто текст html</span>
                                </p>
                            </div>
                            <div class="product__act-btn">
                                <a class="buy-basket-btn btn-product link-for-fancybox-modal" href="#added-popup">Добавить
                                    в кoрзину</a>
                                <a class="buy-click btn-product" href="javascript:void(0)">Купить в 1 клик</a>
                            </div>
                        </div>
                    </div>
                    <div class="product__choose-styles product__styles">
                        <div class="product__styles-radio">
                            <div class="product__styles-size">
                                <div class="product__styles-title">Размер:</div>
                                <div class="product__styles-choice scroll">
                                    <div class="product__choice-line radio-global">
                                        <input checked id="size-2-1" type="radio"
                                               name="size-2">
                                        <label for="size-2-1">400x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-2" type="radio" name="size-2">
                                        <label for="size-2-2">550x1900</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-3" type="radio" name="size-2">
                                        <label for="size-2-3">600x1900</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-4" type="radio" name="size-2">
                                        <label for="size-2-4">600x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-5" type="radio" name="size-2">
                                        <label for="size-2-5">700x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-6" type="radio" name="size-2">
                                        <label for="size-2-6">800x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-7" type="radio" name="size-2">
                                        <label for="size-2-7">900x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-8" type="radio" name="size-2">
                                        <label for="size-2-8">1000x2500</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-9" type="radio" name="size-2">
                                        <label for="size-2-9">1100x2500</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-10" type="radio" name="size-2">
                                        <label for="size-2-10">1200x2500</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-11" type="radio" name="size-2">
                                        <label for="size-2-11">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-12" type="radio" name="size-2">
                                        <label for="size-2-12">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-13" type="radio" name="size-2">
                                        <label for="size-2-13">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-14" type="radio" name="size-2">
                                        <label for="size-2-14">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="size-2-15" type="radio" name="size-2">
                                        <label for="size-2-15">1300x3000</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product__styles-set">
                                <div class="product__styles-title">Комплект:</div>
                                <div class="product__styles-choice">
                                    <div class="product__choice-line radio-global">
                                        <input checked id="set-2-1" type="radio" name="set-2">
                                        <label data-price="123" class="choice-set without-text"
                                               for="set-2-1">Без комплекта</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="set-2-2" type="radio" name="set-2">
                                        <label data-price="300" class="choice-set" for="set-2-2">Коробка +
                                            наличники</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="set-2-3" type="radio" name="set-2">
                                        <label data-price="432" class="choice-set" for="set-2-3">Коробка +
                                            наличники
                                            телескопические</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="set-2-4" type="radio" name="set-2">
                                        <label data-price="425" class="choice-set" for="set-2-4">Для
                                            двустворчатой двери</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="set-2-5" type="radio" name="set-2">
                                        <label data-price="832" class="choice-set" for="set-2-5">Для
                                            двустворчатой двери
                                            телескопический</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="set-2-6" type="radio" name="set-2">
                                        <label data-price="987" class="choice-set" for="set-2-6">Для
                                            двустворчатой двери
                                            телескопический</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="set-2-7" type="radio" name="set-2">
                                        <label data-price="1998" class="choice-set" for="set-2-7">Для
                                            раздвижной двери
                                            тескопический</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__styles-texture">
                            <div class="product__styles-color">
                                <div class="product__styles-title">Цвет:</div>
                                <div class="product__styles-icons">
                                    <div class="product-icon product__color-icons current"><img
                                            src="../../img/product/product-color-icon.png" alt=""></div>
                                    @@for(let i = 0; i < 9; i++) {
                                    <div class="product-icon product__color-icons"><img
                                            src="../../img/product/product-color-icon.png" alt=""></div>
                                    }
                                </div>
                            </div>
                            <div class="product__styles-glazing">
                                <div class="product__styles-title">Остекление:</div>
                                <div class="product__styles-icons">
                                    <div class="product-icon product__color-icons current"><img
                                            src="../../img/product/product-color-icon.png"
                                            alt=""></div>
                                    <div class="product-icon product__color-icons"><img
                                            src="../../img/product/product-color-icon.png" alt="">
                                    </div>
                                    <div class="product-icon product__color-icons"><img
                                            src="../../img/product/product-color-icon.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-all-btn__wrapper">
            <a href="javascript:void(0)" class="show-all-btn-link">Подробнее</a>
        </div>
    </div>
</div>


<!-- Preview popup product twodoor -->
<div class="preview-popup preview-popup-twodoor product-popup" id="preview-product-twodoor">
    <div class="preview-popup__inner">
        <div class="product__inner-left">
            <div class="preview-popup__title">
                <h2>Межкомнатная одностворчатая дверь СМАЛЬТА 11 остеклённая,
                    cлоновая
                    кость, патина, золото.</h2>
                <a href="#"> <img src="../../img/product/geona-company.png" alt=""></a>
            </div>
            <div class="preview-popup__card">
                <div class="preview-popup__photo">
                    <div class="preview-popup__photo-info">
                        <span class="product-status">Под заказ</span>
                        <span class="product-status product-status-yes">В наличии</span>
                        <span class="article">Артикул: ЕЛ2503</span>
                        <div class="product__rating">
                            <div class="rating-block static-rating" id="rateYo"></div>
                            <span>55 отзывов</span>
                        </div>
                    </div>
                    <div class="preview-popup__wrapper">
                        <div class="preview-popup__wrapper-for">
                            <div class="preview-popup__wrapper-item">
                                <a class="fancybox-link-img" href="../../img/product/product-twodoor-slider-for.png"></a>
                                <img src="../../img/product/product-twodoor-slider-for.png" alt="">
                                <div class="preview-popup__item-icons">
                                    <a href="#alert-featured" class="item-heart item-icon js-toggle js-alert-link"><i
                                            class="icon-heart"></i></a>
                                    <a href="#alert-comparison" class="item-rating item-icon js-toggle js-alert-link"><i
                                            class="icon-compare"></i></a>
                                </div>
                                <div class="preview-popup__item-promo">
                                    <div class="slider-promo order">поД
                                        заказ
                                    </div>
                                    <div class="slider-promo top">топ
                                        продаж
                                    </div>
                                    <div class="slider-promo material">100%
                                        массив
                                    </div>
                                    <div class="slider-promo discount">скидка
                                    </div>
                                    <div class="slider-promo shop">в магазине
                                    </div>
                                    <div class="slider-promo novelty">новинка
                                    </div>
                                    <div class="slider-promo withdrawn">снято с
                                        продаж
                                    </div>
                                    <div class="slider-promo guarantee">гарантия
                                        1
                                        год
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.social__block -->
                </div>
                <div class="preview-popup__choose product__choose">
                    <div class="product__choose-buy product__buy">
                        <div class="product__buy-price">
                            <div class="price-counter">
                                <span class="old-price">12 607 ₽</span>
                                <span class="new-price">11 607 ₽</span>
                            </div>
                            <div class="quantity-counter">
                                <div class="number-picker"></div>
                            </div>
                        </div>
                        <div class="product__buy-act">
                            <div class="product__act-info">
                                <p>Цена указана за полотно! Цена за комплект <span data-start-price="14599"
                                                                                   class="price-counter-sum">14599</span>
                                    ₽ </p>
                                <p class="current-set">В комплекте: <span
                                        class="change-text-set">какойто текст html</span><span style="display: none;"
                                                                                               class="without-set-text">какойто текст html</span>
                                </p>
                            </div>
                            <div class="product__act-btn">
                                <a class="buy-basket-btn btn-product link-for-fancybox-modal" href="#added-popup">Добавить
                                    в кoрзину</a>
                                <a class="buy-click btn-product" href="javascript:void(0)">Купить в 1 клик</a>
                            </div>
                        </div>
                    </div>
                    <div class="product__choose-styles product__styles">
                        <div class="product__styles-radio">
                            <div class="product__styles-size">
                                <div class="product__styles-title">Размер:</div>
                                <div class="product__styles-choice scroll">
                                    <div class="product__choice-line radio-global">
                                        <input checked id="two-size-1-1" type="radio"
                                               name="two-size-1">
                                        <label for="two-size-1-1">400x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-2" type="radio" name="two-size-1">
                                        <label for="two-size-1-2">550x1900</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-3" type="radio" name="two-size-1">
                                        <label for="two-size-1-3">600x1900</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-4" type="radio" name="two-size-1">
                                        <label for="two-size-1-4">600x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-5" type="radio" name="two-size-1">
                                        <label for="two-size-1-5">700x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-6" type="radio" name="two-size-1">
                                        <label for="two-size-1-6">800x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-7" type="radio" name="two-size-1">
                                        <label for="two-size-1-7">900x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-8" type="radio" name="two-size-1">
                                        <label for="two-size-1-8">1000x2500</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-9" type="radio" name="two-size-1">
                                        <label for="two-size-1-9">1100x2500</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-10" type="radio" name="two-size-1">
                                        <label for="two-size-1-10">1200x2500</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-11" type="radio" name="two-size-1">
                                        <label for="two-size-1-11">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-12" type="radio" name="two-size-1">
                                        <label for="two-size-1-12">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-13" type="radio" name="two-size-1">
                                        <label for="two-size-1-13">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-14" type="radio" name="two-size-1">
                                        <label for="two-size-1-14">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-1-15" type="radio" name="two-size-1">
                                        <label for="two-size-1-15">1300x3000</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product__styles-size">
                                <div class="product__styles-title">2-ой двери:</div>
                                <div class="product__styles-choice scroll">
                                    <div class="product__choice-line radio-global">
                                        <input checked id="two-size-2-1" type="radio"
                                               name="two-size-2">
                                        <label for="two-size-2-1">400x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-2" type="radio" name="two-size-2">
                                        <label for="two-size-2-2">550x1900</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-3" type="radio" name="two-size-2">
                                        <label for="two-size-2-3">600x1900</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-4" type="radio" name="two-size-2">
                                        <label for="two-size-2-4">600x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-5" type="radio" name="two-size-2">
                                        <label for="two-size-2-5">700x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-6" type="radio" name="two-size-2">
                                        <label for="two-size-2-6">800x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-7" type="radio" name="two-size-2">
                                        <label for="two-size-2-7">900x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-8" type="radio" name="two-size-2">
                                        <label for="two-size-2-8">1000x2500</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-9" type="radio" name="two-size-2">
                                        <label for="two-size-2-9">1100x2500</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-10" type="radio" name="two-size-2">
                                        <label for="two-size-2-10">1200x2500</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-11" type="radio" name="two-size-2">
                                        <label for="two-size-2-11">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-12" type="radio" name="two-size-2">
                                        <label for="two-size-2-12">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-13" type="radio" name="two-size-2">
                                        <label for="two-size-2-13">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-14" type="radio" name="two-size-2">
                                        <label for="two-size-2-14">1300x3000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-size-2-15" type="radio" name="two-size-2">
                                        <label for="two-size-2-15">1300x3000</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product__styles-set">
                                <div class="product__styles-title">Комплект:</div>
                                <div class="product__styles-choice">
                                    <div class="product__choice-line radio-global without-text">
                                        <input checked id="two-set-1-1" type="radio" name="two-set-2">
                                        <label class="choice-set without-text" for="two-set-1-1">Без комплекта</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-set-1-2" type="radio" name="two-set-2">
                                        <label class="choice-set" for="two-set-1-2" data-price="1000">Коробка + наличники</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="two-set-1-3" type="radio" name="two-set-2">
                                        <label class="choice-set" for="two-set-1-3" data-price="170">Коробка T + наличники T</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__styles-texture">
                            <div class="product__styles-color">
                                <div class="product__styles-title">Цвет:</div>
                                <div class="product__styles-icons">
                                    <div class="product-icon product__color-icons current"><img
                                            src="../../img/product/product-color-icon.png" alt=""></div>
                                    @@for(let i = 0; i < 9; i++) {
                                    <div class="product-icon product__color-icons"><img
                                            src="../../img/product/product-color-icon.png" alt=""></div>
                                    }
                                </div>
                            </div>
                            <div class="product__styles-glazing">
                                <div class="product__styles-title">Остекление:</div>
                                <div class="product__styles-icons">
                                    <div class="product-icon product__color-icons current"><img
                                            src="../../img/product/product-color-icon.png"
                                            alt=""></div>
                                    <div class="product-icon product__color-icons"><img
                                            src="../../img/product/product-color-icon.png" alt="">
                                    </div>
                                    <div class="product-icon product__color-icons"><img
                                            src="../../img/product/product-color-icon.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-all-btn__wrapper">
            <a href="javascript:void(0)" class="show-all-btn-link">Подробнее</a>
        </div>
    </div>
</div>


<!-- Preview popup product duo -->
<div class="preview-popup product-popup preview-popup-duo" id="preview-product-duo">
    <div class="preview-popup__inner">
        <div class="product__inner-left">
            <div class="preview-popup__title">
                <h2>Межкомнатная одностворчатая дверь СМАЛЬТА 11 остеклённая,
                    cлоновая
                    кость, патина, золото.</h2>
                <a href="#"> <img src="../../img/product/geona-company.png" alt=""></a>
            </div>
            <div class="preview-popup__card _wrapper-duo">
                <div class="preview-popup__photo">
                    <div class="preview-popup__photo-info">
                        <span class="product-status">Под заказ</span>
                        <span class="product-status product-status-yes">В наличии</span>
                        <span class="article">Артикул: ЕЛ2503</span>
                        <div class="product__rating">
                            <div class="rating-block static-rating"></div>
                            <span>55 отзывов</span>
                        </div>
                    </div>
                    <div class="preview-popup__wrapper">
                        <div class="preview-popup__wrapper-for">
                            <div class="preview-popup__wrapper-item _wrapper-duo">
                                <div class="duo-door-item">
                                    <a class="fancybox-link-img first-door-fancy" href="../../img/product/product-duo-slider-for-1-1.jpg"></a>
                                    <img src="../../img/product/product-duo-slider-for-1-1.jpg" alt="">
                                </div>
                                <div class="duo-door-item">
                                    <a class="fancybox-link-img second-door-fancy" href="../../img/product/product-duo-slider-for-1.jpg"></a>
                                    <img src="../../img/product/product-duo-slider-for-1.jpg" alt="" class="second-door-look">
                                    <div class="duo-door-item-info">
                                        <div>Здесь название внутренней панели</div>
                                    </div>
                                </div>
                                <div class="preview-popup__item-icons">
                                    <a href="#alert-featured" class="item-heart item-icon js-toggle js-alert-link"><i
                                            class="icon-heart"></i></a>
                                    <a href="#alert-comparison" class="item-rating item-icon js-toggle js-alert-link"><i
                                            class="icon-compare"></i></a>
                                </div>
                                <div class="preview-popup__item-promo">
                                    <div class="slider-promo order">поД
                                        заказ
                                    </div>
                                    <div class="slider-promo top">топ
                                        продаж
                                    </div>
                                    <div class="slider-promo material">100%
                                        массив
                                    </div>
                                    <div class="slider-promo discount">скидка
                                    </div>
                                    <div class="slider-promo shop">в магазине
                                    </div>
                                    <div class="slider-promo novelty">новинка
                                    </div>
                                    <div class="slider-promo withdrawn">снято с
                                        продаж
                                    </div>
                                    <div class="slider-promo guarantee">гарантия
                                        1
                                        год
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.social__block -->
                </div>
                <div class="preview-popup__choose product__choose">
                    <div class="product__choose-buy product__buy">
                        <div class="product__buy-price">
                            <div class="price-counter">
                                <span class="old-price">12 607 ₽</span>
                                <span class="new-price">11 607 ₽</span>
                            </div>
                            <div class="quantity-counter">
                                <div class="number-picker"></div>
                            </div>
                        </div>
                        <div class="product__buy-act">
                            <div class="product__act-info">
                                <p>Цена указана за полотно! Цена за комплект <span data-start-price="14599"
                                                                                   class="price-counter-sum">14599</span>
                                    ₽ </p>
                                <p class="current-set">В комплекте: <span
                                        class="change-text-set">какойто текст html</span><span style="display: none;"
                                                                                               class="without-set-text">какойто текст html</span>
                                </p>
                            </div>
                            <div class="product__act-btn">
                                <a class="buy-basket-btn btn-product link-for-fancybox-modal" href="#added-popup">Добавить
                                    в кoрзину</a>
                                <a class="buy-click btn-product" href="javascript:void(0)">Купить в 1 клик</a>
                            </div>
                        </div>
                    </div>
                    <div class="product__choose-styles product__styles">
                        <div class="product__styles-wrapper">
                            <div class="product__styles-size">
                                <div class="product__styles-title">Размер:</div>
                                <div class="product__styles-choice">
                                    <div class="product__choice-line radio-global">
                                        <input checked id="choice-preview-size-1" type="radio" name="choice-size-preview">
                                        <label for="choice-preview-size-1">400x2000</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="choice-preview-size-2" type="radio" name="choice-size-preview">
                                        <label for="choice-preview-size-2">550x1900</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product__styles-size">
                                <div class="product__styles-title">Сторона:</div>
                                <div class="product__styles-choice">
                                    <div class="product__choice-line radio-global">
                                        <input checked id="choice-preview-part-1" type="radio" name="choice-part-preview">
                                        <label for="choice-preview-part-1">правая</label>
                                    </div>
                                    <div class="product__choice-line radio-global">
                                        <input id="choice-preview-part-2" type="radio" name="choice-part-preview">
                                        <label for="choice-preview-part-2">левая</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product__styles-texture">
                                <div class="product__styles-color">
                                    <div class="product__styles-title">Цвет:</div>
                                    <div class="product__styles-icons">
                                        <div class="product-icon product__color-icons current"><img
                                                src="../../img/product/product-color-icon.png"
                                                alt=""></div>
                                        @@for(let i = 0; i < 3; i++) {
                                        <div class="product-icon product__color-icons"><img
                                                src="../../img/product/product-color-icon.png" alt="">
                                        </div>
                                        }
                                        <!-- /.product__color product__color-icons -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__styles-slider duo__slider">
                            <div class="duo__slider-title product__styles-title">Внутренние панели:</div>
                            <div class="duo__slider-modal--inner">
                                @@for(let i = 1; i < 6; i++) {
                                <div class="duo__slider-item">
                                    <div class="duo__slider-item--img" data-door="`+i+`">
                                        <img src="../../img/product/duo/duo-slider-`+i+`.png" alt="">
                                    </div>
                                    <div class="duo__slider-item--img" data-door="`+i+`">
                                        <img src="../../img/product/duo/duo-slider-2-`+i+`.png" alt="">
                                    </div>
                                </div>
                                }
                                @@for(let i = 1; i < 6; i++) {
                                <div class="duo__slider-item">
                                    <div class="duo__slider-item--img" data-door="`+i+`">
                                        <img src="../../img/product/duo/duo-slider-`+i+`.png" alt="">
                                    </div>
                                    <div class="duo__slider-item--img" data-door="`+i+`">
                                        <img src="../../img/product/duo/duo-slider-2-`+i+`.png" alt="">
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-all-btn__wrapper">
            <a href="javascript:void(0)" class="show-all-btn-link">Подробнее</a>
        </div>
    </div>
</div>