<!-- Preview popup product -->
<div class="preview-popup product-popup" id="preview-product">
	<div class="preview-popup__inner">
		<div class="product__inner-left">
			<div class="preview-popup__title">
				<h2>Межкомнатная одностворчатая дверь СМАЛЬТА 11 остеклённая, cлоновая кость, патина, золото.</h2>
				<a href="#"> <img src="../../img/product/geona-company.png" alt="" /></a>
			</div>
			<div class="preview-popup__card">
				<div class="preview-popup__photo">
					<div class="preview-popup__photo-info">
						<span class="product-status">Под заказ</span>
						<span class="product-status product-status-yes">В наличии</span>
						<span class="article">Артикул: ЕЛ2503</span>
						<div class="product__rating">
							<div class="rating-block static-rating" id="rateYo"></div>
							<span>55 отзывов</span>
						</div>
					</div>
					<div class="preview-popup__wrapper">
						<div class="preview-popup__wrapper-for">
							<div class="preview-popup__wrapper-item">
								<a class="fancybox-link-img" href="../../img/product/product-slider-for.png"></a>
								<img src="../../img/product/product-slider-for.png" alt="" />
								<ul class="card__setting">
									<li class="card__setting_item">
										<a href="#alert-featured" class="card__setting_item_link js-toggle js-alert-link">
											<svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
												<g>
													<g>
														<path
															d="M3.682-.009c1.726-.024 2.367.4 3.285 1.076h.042c.136-.158.332-.269.516-.385.93-.59 2.346-.933 3.75-.48 1.065.344 1.78 1.043 2.282 1.898.228.388.453.94.455 1.501 0 .2.019.432 0 .599-.02.166-.084.475-.155.69a4.148 4.148 0 0 1-.548 1.087c-.318.452-.792.757-1.157 1.16L9.188 9.919l-1.57 1.474c-.103.112-.525.552-.65.599-.093-.184-.345-.312-.486-.462-.393-.367-.786-.735-1.178-1.105a5385.248 5385.248 0 0 1-3.202-3.021C1.637 6.96 1.092 6.556.708 6.04c-.839-1.12-1-2.869-.197-4.144C.918 1.254 1.57.647 2.351.34a7.32 7.32 0 0 1 .877-.276c.126-.034.371 0 .454-.074zm6.136 1.05c-.2.02-.4.043-.6.065a3.363 3.363 0 0 0-1.197.561c-.302.213-.538.539-.754.829-.085.112-.15.267-.269.35h-.03c-.627-.79-1.018-1.402-2.18-1.731-.512-.147-1.23-.043-1.643.092-1.122.367-2.315 1.61-1.931 3.168.307 1.249 1.208 1.664 1.952 2.486l3.811 3.574h.032l3.925-3.694c.579-.606 1.332-1.055 1.673-1.879.801-1.934-.738-3.824-2.79-3.821z"
														/>
													</g>
												</g>
											</svg>
										</a>
									</li>
									<li class="card__setting_item">
										<a href="#alert-comparison" class="card__setting_item_link js-toggle js-alert-link">
											<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 640 640" xml:space="preserve">
												<path d="M500,298.7h60v220h-60V298.7z" />
												<path d="M220,158.7h60v360h-60V158.7z" />
												<path d="M360,38.7h60v480h-60V38.7z" />
												<path d="M80,398.7h60v120H80V398.7z" />
											</svg>
										</a>
									</li>
								</ul>
								<div class="preview-popup__item-promo">
									<div class="slider-promo order">поД заказ</div>
									<div class="slider-promo top">топ продаж</div>
									<div class="slider-promo material">100% массив</div>
									<div class="slider-promo discount">скидка</div>
									<div class="slider-promo shop">в магазине</div>
									<div class="slider-promo novelty">новинка</div>
									<div class="slider-promo withdrawn">снято с продаж</div>
									<div class="slider-promo guarantee">гарантия 1 год</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.social__block -->
				</div>
				<div class="preview-popup__choose product__choose">
					<div class="product__choose-buy product__buy">
						<div class="product__buy-price">
							<div class="price-counter">
								<span class="old-price">12 607 ₽</span>
								<span class="new-price">11 607 ₽</span>
							</div>
							<div class="quantity-counter">
								<div class="number-picker"></div>
							</div>
						</div>
						<div class="product__buy-act">
							<div class="product__act-info">
								<p>Цена указана за полотно! Цена за комплект <span data-start-price="14599" class="price-counter-sum">14599</span> ₽</p>
								<p class="current-set">В комплекте: <span class="change-text-set">какойто текст html</span><span style="display: none" class="without-set-text">какойто текст html</span></p>
							</div>
							<div class="product__act-btn">
								<a class="buy-basket-btn btn-product link-for-fancybox-modal" href="#added-popup">Добавить <br> в кoрзину</a>
								<a class="buy-click btn-product" href="javascript:void(0)">Купить <br> в 1 клик</a>
							</div>
						</div>
					</div>
					<div class="product__choose-styles product__styles">
						<div class="product__styles-radio">
							<div class="product__styles-size">
								<div class="product__styles-title">Размер:</div>
								<div class="product__styles-choice scrollY">
									<div class="product__choice-line radio-global">
										<input checked id="size-2-1" type="radio" name="size-2" />
										<label for="size-2-1">400x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-2" type="radio" name="size-2" />
										<label for="size-2-2">550x1900</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-3" type="radio" name="size-2" />
										<label for="size-2-3">600x1900</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-4" type="radio" name="size-2" />
										<label for="size-2-4">600x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-5" type="radio" name="size-2" />
										<label for="size-2-5">700x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-6" type="radio" name="size-2" />
										<label for="size-2-6">800x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-7" type="radio" name="size-2" />
										<label for="size-2-7">900x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-8" type="radio" name="size-2" />
										<label for="size-2-8">1000x2500</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-9" type="radio" name="size-2" />
										<label for="size-2-9">1100x2500</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-10" type="radio" name="size-2" />
										<label for="size-2-10">1200x2500</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-11" type="radio" name="size-2" />
										<label for="size-2-11">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-12" type="radio" name="size-2" />
										<label for="size-2-12">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-13" type="radio" name="size-2" />
										<label for="size-2-13">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-14" type="radio" name="size-2" />
										<label for="size-2-14">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="size-2-15" type="radio" name="size-2" />
										<label for="size-2-15">1300x3000</label>
									</div>
								</div>
							</div>
							<div class="product__styles-set">
								<div class="product__styles-title">Комплект:</div>
								<div class="product__styles-choice">
									<div class="product__choice-line radio-global">
										<input checked id="set-2-1" type="radio" name="set-2" />
										<label data-price="123" class="choice-set without-text" for="set-2-1">Без комплекта</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="set-2-2" type="radio" name="set-2" />
										<label data-price="300" class="choice-set" for="set-2-2">Коробка + наличники</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="set-2-3" type="radio" name="set-2" />
										<label data-price="432" class="choice-set" for="set-2-3">Коробка + наличники телескопические</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="set-2-4" type="radio" name="set-2" />
										<label data-price="425" class="choice-set" for="set-2-4">Для двустворчатой двери</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="set-2-5" type="radio" name="set-2" />
										<label data-price="832" class="choice-set" for="set-2-5">Для двустворчатой двери телескопический</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="set-2-6" type="radio" name="set-2" />
										<label data-price="987" class="choice-set" for="set-2-6">Для двустворчатой двери телескопический</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="set-2-7" type="radio" name="set-2" />
										<label data-price="1998" class="choice-set" for="set-2-7">Для раздвижной двери тескопический</label>
									</div>
								</div>
							</div>
						</div>
						<div class="product__styles-texture">
							<div class="product__styles-color">
								<div class="product__styles-title">Цвет:</div>
								<div class="product__styles-icons">
									<div class="product-icon product__color-icons current"><img src="../../img/product/product-color-icon.png" alt="" /></div>
									@@for(let i = 0; i < 9; i++) {
									<div class="product-icon product__color-icons"><img src="../../img/product/product-color-icon.png" alt="" /></div>
									}
								</div>
							</div>
							<div class="product__styles-glazing">
								<div class="product__styles-title">Остекление:</div>
								<div class="product__styles-icons">
									<div class="product-icon product__color-icons current"><img src="../../img/product/product-color-icon.png" alt="" /></div>
									<div class="product-icon product__color-icons"><img src="../../img/product/product-color-icon.png" alt="" /></div>
									<div class="product-icon product__color-icons"><img src="../../img/product/product-color-icon.png" alt="" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="show-all-btn__wrapper">
			<a href="javascript:void(0)" class="show-all-btn-link">Подробнее</a>
		</div>
	</div>
</div>

<!-- Preview popup product twodoor -->
<div class="preview-popup preview-popup-twodoor product-popup" id="preview-product-twodoor">
	<div class="preview-popup__inner">
		<div class="product__inner-left">
			<div class="preview-popup__title">
				<h2>Межкомнатная одностворчатая дверь СМАЛЬТА 11 остеклённая, cлоновая кость, патина, золото.</h2>
				<a href="#"> <img src="../../img/product/geona-company.png" alt="" /></a>
			</div>
			<div class="preview-popup__card">
				<div class="preview-popup__photo">
					<div class="preview-popup__photo-info">
						<span class="product-status">Под заказ</span>
						<span class="product-status product-status-yes">В наличии</span>
						<span class="article">Артикул: ЕЛ2503</span>
						<div class="product__rating">
							<div class="rating-block static-rating" id="rateYo"></div>
							<span>55 отзывов</span>
						</div>
					</div>
					<div class="preview-popup__wrapper">
						<div class="preview-popup__wrapper-for">
							<div class="preview-popup__wrapper-item">
								<a class="fancybox-link-img" href="../../img/product/product-twodoor-slider-for.png"></a>
								<img src="../../img/product/product-twodoor-slider-for.png" alt="" />
								<ul class="card__setting">
									<li class="card__setting_item">
										<a href="#alert-featured" class="card__setting_item_link js-toggle js-alert-link">
											<svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
												<g>
													<g>
														<path
															d="M3.682-.009c1.726-.024 2.367.4 3.285 1.076h.042c.136-.158.332-.269.516-.385.93-.59 2.346-.933 3.75-.48 1.065.344 1.78 1.043 2.282 1.898.228.388.453.94.455 1.501 0 .2.019.432 0 .599-.02.166-.084.475-.155.69a4.148 4.148 0 0 1-.548 1.087c-.318.452-.792.757-1.157 1.16L9.188 9.919l-1.57 1.474c-.103.112-.525.552-.65.599-.093-.184-.345-.312-.486-.462-.393-.367-.786-.735-1.178-1.105a5385.248 5385.248 0 0 1-3.202-3.021C1.637 6.96 1.092 6.556.708 6.04c-.839-1.12-1-2.869-.197-4.144C.918 1.254 1.57.647 2.351.34a7.32 7.32 0 0 1 .877-.276c.126-.034.371 0 .454-.074zm6.136 1.05c-.2.02-.4.043-.6.065a3.363 3.363 0 0 0-1.197.561c-.302.213-.538.539-.754.829-.085.112-.15.267-.269.35h-.03c-.627-.79-1.018-1.402-2.18-1.731-.512-.147-1.23-.043-1.643.092-1.122.367-2.315 1.61-1.931 3.168.307 1.249 1.208 1.664 1.952 2.486l3.811 3.574h.032l3.925-3.694c.579-.606 1.332-1.055 1.673-1.879.801-1.934-.738-3.824-2.79-3.821z"
														/>
													</g>
												</g>
											</svg>
										</a>
									</li>
									<li class="card__setting_item">
										<a href="#alert-comparison" class="card__setting_item_link js-toggle js-alert-link">
											<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 640 640" xml:space="preserve">
												<path d="M500,298.7h60v220h-60V298.7z" />
												<path d="M220,158.7h60v360h-60V158.7z" />
												<path d="M360,38.7h60v480h-60V38.7z" />
												<path d="M80,398.7h60v120H80V398.7z" />
											</svg>
										</a>
									</li>
								</ul>
								<div class="preview-popup__item-promo">
									<div class="slider-promo order">поД заказ</div>
									<div class="slider-promo top">топ продаж</div>
									<div class="slider-promo material">100% массив</div>
									<div class="slider-promo discount">скидка</div>
									<div class="slider-promo shop">в магазине</div>
									<div class="slider-promo novelty">новинка</div>
									<div class="slider-promo withdrawn">снято с продаж</div>
									<div class="slider-promo guarantee">гарантия 1 год</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.social__block -->
				</div>
				<div class="preview-popup__choose product__choose">
					<div class="product__choose-buy product__buy">
						<div class="product__buy-price">
							<div class="price-counter">
								<span class="old-price">12 607 ₽</span>
								<span class="new-price">11 607 ₽</span>
							</div>
							<div class="quantity-counter">
								<div class="number-picker"></div>
							</div>
						</div>
						<div class="product__buy-act">
							<div class="product__act-info">
								<p>Цена указана за полотно! Цена за комплект <span data-start-price="14599" class="price-counter-sum">14599</span> ₽</p>
								<p class="current-set">В комплекте: <span class="change-text-set">какойто текст html</span><span style="display: none" class="without-set-text">какойто текст html</span></p>
							</div>
							<div class="product__act-btn">
								<a class="buy-basket-btn btn-product link-for-fancybox-modal" href="#added-popup">Добавить <br> в кoрзину</a>
								<a class="buy-click btn-product" href="javascript:void(0)">Купить <br> в 1 клик</a>
							</div>
						</div>
					</div>
					<div class="product__choose-styles product__styles">
						<div class="product__styles-radio">
							<div class="product__styles-size">
								<div class="product__styles-title">Размер:</div>
								<div class="product__styles-choice scrollY">
									<div class="product__choice-line radio-global">
										<input checked id="two-size-1-1" type="radio" name="two-size-1" />
										<label for="two-size-1-1">400x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-2" type="radio" name="two-size-1" />
										<label for="two-size-1-2">550x1900</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-3" type="radio" name="two-size-1" />
										<label for="two-size-1-3">600x1900</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-4" type="radio" name="two-size-1" />
										<label for="two-size-1-4">600x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-5" type="radio" name="two-size-1" />
										<label for="two-size-1-5">700x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-6" type="radio" name="two-size-1" />
										<label for="two-size-1-6">800x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-7" type="radio" name="two-size-1" />
										<label for="two-size-1-7">900x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-8" type="radio" name="two-size-1" />
										<label for="two-size-1-8">1000x2500</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-9" type="radio" name="two-size-1" />
										<label for="two-size-1-9">1100x2500</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-10" type="radio" name="two-size-1" />
										<label for="two-size-1-10">1200x2500</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-11" type="radio" name="two-size-1" />
										<label for="two-size-1-11">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-12" type="radio" name="two-size-1" />
										<label for="two-size-1-12">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-13" type="radio" name="two-size-1" />
										<label for="two-size-1-13">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-14" type="radio" name="two-size-1" />
										<label for="two-size-1-14">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-1-15" type="radio" name="two-size-1" />
										<label for="two-size-1-15">1300x3000</label>
									</div>
								</div>
							</div>
							<div class="product__styles-size">
								<div class="product__styles-title">2-ой двери:</div>
								<div class="product__styles-choice scrollY">
									<div class="product__choice-line radio-global">
										<input checked id="two-size-2-1" type="radio" name="two-size-2" />
										<label for="two-size-2-1">400x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-2" type="radio" name="two-size-2" />
										<label for="two-size-2-2">550x1900</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-3" type="radio" name="two-size-2" />
										<label for="two-size-2-3">600x1900</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-4" type="radio" name="two-size-2" />
										<label for="two-size-2-4">600x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-5" type="radio" name="two-size-2" />
										<label for="two-size-2-5">700x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-6" type="radio" name="two-size-2" />
										<label for="two-size-2-6">800x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-7" type="radio" name="two-size-2" />
										<label for="two-size-2-7">900x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-8" type="radio" name="two-size-2" />
										<label for="two-size-2-8">1000x2500</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-9" type="radio" name="two-size-2" />
										<label for="two-size-2-9">1100x2500</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-10" type="radio" name="two-size-2" />
										<label for="two-size-2-10">1200x2500</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-11" type="radio" name="two-size-2" />
										<label for="two-size-2-11">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-12" type="radio" name="two-size-2" />
										<label for="two-size-2-12">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-13" type="radio" name="two-size-2" />
										<label for="two-size-2-13">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-14" type="radio" name="two-size-2" />
										<label for="two-size-2-14">1300x3000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-size-2-15" type="radio" name="two-size-2" />
										<label for="two-size-2-15">1300x3000</label>
									</div>
								</div>
							</div>
							<div class="product__styles-set">
								<div class="product__styles-title">Комплект:</div>
								<div class="product__styles-choice">
									<div class="product__choice-line radio-global without-text">
										<input checked id="two-set-1-1" type="radio" name="two-set-2" />
										<label class="choice-set without-text" for="two-set-1-1">Без комплекта</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-set-1-2" type="radio" name="two-set-2" />
										<label class="choice-set" for="two-set-1-2" data-price="1000">Коробка + наличники</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="two-set-1-3" type="radio" name="two-set-2" />
										<label class="choice-set" for="two-set-1-3" data-price="170">Коробка T + наличники T</label>
									</div>
								</div>
							</div>
						</div>
						<div class="product__styles-texture">
							<div class="product__styles-color">
								<div class="product__styles-title">Цвет:</div>
								<div class="product__styles-icons">
									<div class="product-icon product__color-icons current"><img src="../../img/product/product-color-icon.png" alt="" /></div>
									@@for(let i = 0; i < 9; i++) {
									<div class="product-icon product__color-icons"><img src="../../img/product/product-color-icon.png" alt="" /></div>
									}
								</div>
							</div>
							<div class="product__styles-glazing">
								<div class="product__styles-title">Остекление:</div>
								<div class="product__styles-icons">
									<div class="product-icon product__color-icons current"><img src="../../img/product/product-color-icon.png" alt="" /></div>
									<div class="product-icon product__color-icons"><img src="../../img/product/product-color-icon.png" alt="" /></div>
									<div class="product-icon product__color-icons"><img src="../../img/product/product-color-icon.png" alt="" /></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="show-all-btn__wrapper">
			<a href="javascript:void(0)" class="show-all-btn-link">Подробнее</a>
		</div>
	</div>
</div>

<!-- Preview popup product duo -->
<div class="preview-popup product-popup preview-popup-duo" id="preview-product-duo">
	<div class="preview-popup__inner">
		<div class="product__inner-left">
			<div class="preview-popup__title">
				<h2>Межкомнатная одностворчатая дверь СМАЛЬТА 11 остеклённая, cлоновая кость, патина, золото.</h2>
				<a href="#"> <img src="../../img/product/geona-company.png" alt="" /></a>
			</div>
			<div class="preview-popup__card _wrapper-duo">
				<div class="preview-popup__photo">
					<div class="preview-popup__photo-info">
						<span class="product-status">Под заказ</span>
						<span class="product-status product-status-yes">В наличии</span>
						<span class="article">Артикул: ЕЛ2503</span>
						<div class="product__rating">
							<div class="rating-block static-rating"></div>
							<span>55 отзывов</span>
						</div>
					</div>
					<div class="preview-popup__wrapper">
						<div class="preview-popup__wrapper-for">
							<div class="preview-popup__wrapper-item _wrapper-duo">
								<div class="duo-door-item">
									<a class="fancybox-link-img first-door-fancy" href="../../img/product/product-duo-slider-for-1-1.jpg"></a>
									<img src="../../img/product/product-duo-slider-for-1-1.jpg" alt="" />
								</div>
								<div class="duo-door-item">
									<a class="fancybox-link-img second-door-fancy" href="../../img/product/product-duo-slider-for-1.jpg"></a>
									<img src="../../img/product/product-duo-slider-for-1.jpg" alt="" class="second-door-look" />
									<div class="duo-door-item-info">
										<div>Здесь название внутренней панели</div>
									</div>
								</div>
								<ul class="card__setting">
									<li class="card__setting_item">
										<a href="#alert-featured" class="card__setting_item_link js-toggle js-alert-link">
											<svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
												<g>
													<g>
														<path
															d="M3.682-.009c1.726-.024 2.367.4 3.285 1.076h.042c.136-.158.332-.269.516-.385.93-.59 2.346-.933 3.75-.48 1.065.344 1.78 1.043 2.282 1.898.228.388.453.94.455 1.501 0 .2.019.432 0 .599-.02.166-.084.475-.155.69a4.148 4.148 0 0 1-.548 1.087c-.318.452-.792.757-1.157 1.16L9.188 9.919l-1.57 1.474c-.103.112-.525.552-.65.599-.093-.184-.345-.312-.486-.462-.393-.367-.786-.735-1.178-1.105a5385.248 5385.248 0 0 1-3.202-3.021C1.637 6.96 1.092 6.556.708 6.04c-.839-1.12-1-2.869-.197-4.144C.918 1.254 1.57.647 2.351.34a7.32 7.32 0 0 1 .877-.276c.126-.034.371 0 .454-.074zm6.136 1.05c-.2.02-.4.043-.6.065a3.363 3.363 0 0 0-1.197.561c-.302.213-.538.539-.754.829-.085.112-.15.267-.269.35h-.03c-.627-.79-1.018-1.402-2.18-1.731-.512-.147-1.23-.043-1.643.092-1.122.367-2.315 1.61-1.931 3.168.307 1.249 1.208 1.664 1.952 2.486l3.811 3.574h.032l3.925-3.694c.579-.606 1.332-1.055 1.673-1.879.801-1.934-.738-3.824-2.79-3.821z"
														/>
													</g>
												</g>
											</svg>
										</a>
									</li>
									<li class="card__setting_item">
										<a href="#alert-comparison" class="card__setting_item_link js-toggle js-alert-link">
											<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 640 640" xml:space="preserve">
												<path d="M500,298.7h60v220h-60V298.7z" />
												<path d="M220,158.7h60v360h-60V158.7z" />
												<path d="M360,38.7h60v480h-60V38.7z" />
												<path d="M80,398.7h60v120H80V398.7z" />
											</svg>
										</a>
									</li>
								</ul>
								<div class="preview-popup__item-promo">
									<div class="slider-promo order">поД заказ</div>
									<div class="slider-promo top">топ продаж</div>
									<div class="slider-promo material">100% массив</div>
									<div class="slider-promo discount">скидка</div>
									<div class="slider-promo shop">в магазине</div>
									<div class="slider-promo novelty">новинка</div>
									<div class="slider-promo withdrawn">снято с продаж</div>
									<div class="slider-promo guarantee">гарантия 1 год</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.social__block -->
				</div>
				<div class="preview-popup__choose product__choose">
					<div class="product__choose-buy product__buy">
						<div class="product__buy-price">
							<div class="price-counter">
								<span class="old-price">12 607 ₽</span>
								<span class="new-price">11 607 ₽</span>
							</div>
							<div class="quantity-counter">
								<div class="number-picker"></div>
							</div>
						</div>
						<div class="product__buy-act">
							<div class="product__act-info">
								<p>Цена указана за полотно! Цена за комплект <span data-start-price="14599" class="price-counter-sum">14599</span> ₽</p>
								<p class="current-set">В комплекте: <span class="change-text-set">какойто текст html</span><span style="display: none" class="without-set-text">какойто текст html</span></p>
							</div>
							<div class="product__act-btn">
								<a class="buy-basket-btn btn-product link-for-fancybox-modal" href="#added-popup">Добавить <br> в кoрзину</a>
								<a class="buy-click btn-product" href="javascript:void(0)">Купить <br> в 1 клик</a>
							</div>
						</div>
					</div>
					<div class="product__choose-styles product__styles">
						<div class="product__styles-wrapper">
							<div class="product__styles-size">
								<div class="product__styles-title">Размер:</div>
								<div class="product__styles-choice">
									<div class="product__choice-line radio-global">
										<input checked id="choice-preview-size-1" type="radio" name="choice-size-preview" />
										<label for="choice-preview-size-1">400x2000</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="choice-preview-size-2" type="radio" name="choice-size-preview" />
										<label for="choice-preview-size-2">550x1900</label>
									</div>
								</div>
							</div>
							<div class="product__styles-size">
								<div class="product__styles-title">Сторона:</div>
								<div class="product__styles-choice">
									<div class="product__choice-line radio-global">
										<input checked id="choice-preview-part-1" type="radio" name="choice-part-preview" />
										<label for="choice-preview-part-1">правая</label>
									</div>
									<div class="product__choice-line radio-global">
										<input id="choice-preview-part-2" type="radio" name="choice-part-preview" />
										<label for="choice-preview-part-2">левая</label>
									</div>
								</div>
							</div>
							<div class="product__styles-texture">
								<div class="product__styles-color">
									<div class="product__styles-title">Цвет:</div>
									<div class="product__styles-icons">
										<div class="product-icon product__color-icons current"><img src="../../img/product/product-color-icon.png" alt="" /></div>
										@@for(let i = 0; i < 3; i++) {
										<div class="product-icon product__color-icons"><img src="../../img/product/product-color-icon.png" alt="" /></div>
										}
										<!-- /.product__color product__color-icons -->
									</div>
								</div>
							</div>
						</div>
						<div class="product__styles-slider duo__slider">
							<div class="duo__slider-title product__styles-title">Внутренние панели:</div>
							<div class="duo__slider-modal--inner">
								@@for(let i = 1; i < 6; i++) {
								<div class="duo__slider-item">
									<div class="duo__slider-item--img" data-door="`+i+`">
										<img src="../../img/product/duo/duo-slider-`+i+`.png" alt="" />
									</div>
									<div class="duo__slider-item--img" data-door="`+i+`">
										<img src="../../img/product/duo/duo-slider-2-`+i+`.png" alt="" />
									</div>
								</div>
								} @@for(let i = 1; i < 6; i++) {
								<div class="duo__slider-item">
									<div class="duo__slider-item--img" data-door="`+i+`">
										<img src="../../img/product/duo/duo-slider-`+i+`.png" alt="" />
									</div>
									<div class="duo__slider-item--img" data-door="`+i+`">
										<img src="../../img/product/duo/duo-slider-2-`+i+`.png" alt="" />
									</div>
								</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="show-all-btn__wrapper">
			<a href="javascript:void(0)" class="show-all-btn-link">Подробнее</a>
		</div>
	</div>
</div>
