<!-- Preview popup product -->
<div class="preview-popup product-popup" id="preview-product">
 <div class="preview-popup__inner">
  <div class="product__inner-left">
   <div class="preview-popup__title">
    <h2>Межкомнатная одностворчатая дверь СМАЛЬТА 11 остеклённая,
     cлоновая
     кость, патина, золото.</h2>
    <a href="#"> <img src="../../img/product/geona-company.png" alt=""></a>
   </div>
   <div class="preview-popup__card">
    <div class="preview-popup__photo">
     <div class="preview-popup__photo-info">
      <span class="product-status">Под заказ</span>
      <span class="product-status product-status-yes">В наличии</span>
      <span class="article">Артикул: ЕЛ2503</span>
      <div class="product__rating">
       <div class="rating-block static-rating" id="rateYo"></div>
       <span>55 отзывов</span>
      </div>
     </div>
     <div class="preview-popup__wrapper">
      <div class="preview-popup__wrapper-for">
       <div class="preview-popup__wrapper-item">
        <a class="fancybox-link-img" href="../../img/product/product-slider-for.png"></a>
        <img src="../../img/product/product-slider-for.png" alt="">
        <div class="preview-popup__item-icons">
         <a href="javascript:void(0)" class="item-heart item-icon"><i class="icon-heart"></i></a>
         <a href="javascript:void(0)" class="item-rating item-icon"><i class="icon-compare"></i></a>
        </div>
        <div class="preview-popup__item-promo">
         <div class="slider-promo order">поД
          заказ
         </div>
         <div class="slider-promo top">топ
          продаж
         </div>
         <div class="slider-promo material">100%
          массив
         </div>
         <div class="slider-promo discount">скидка
         </div>
         <div class="slider-promo shop">в магазине
         </div>
         <div class="slider-promo novelty">новинка
         </div>
         <div class="slider-promo withdrawn">снято с
          продаж
         </div>
         <div class="slider-promo guarantee">гарантия
          1
          год
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- /.social__block -->
    </div>
    <div class="preview-popup__choose product__choose">
     <div class="product__choose-buy product__buy">
      <div class="product__buy-price">
       <div class="price-counter">
        <span class="old-price">12 607 ₽</span>
        <span class="new-price">11 607 ₽</span>
       </div>
       <div class="quantity-counter">
        <div class="number-picker"></div>
       </div>
      </div>
      <div class="product__buy-act">
       <div class="product__act-info">
        <p>Цена указана за полотно! Цена за комплект <span data-start-price="14599"
         class="price-counter-sum">14599</span> ₽ </p>
        <p class="current-set">В комплекте: <span class="change-text-set">какойто текст html</span><span style="display: none;" class="without-set-text">какойто текст html</span></p>
       </div>
       <div class="product__act-btn">
        <a class="buy-basket-btn btn-product link-for-fancybox-modal" href="#added-popup">Добавить в кoрзину</a>
        <a class="buy-click btn-product" href="javascript:void(0)">Купить в 1 клик</a>
       </div>
      </div>
     </div>
     <div class="product__choose-styles product__styles">
      <div class="product__styles-radio">
      <div class="product__styles-size">
       <div class="product__styles-title">Размер:</div>
       <div class="product__styles-choice scroll">
        <div class="product__choice-line radio-global">
         <input checked id="choice-preview-size-1" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-1">400x2000</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-2" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-2">550x1900</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-3" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-3">600x1900</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-4" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-4">600x2000</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-5" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-5">700x2000</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-6" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-6">800x2000</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-7" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-7">900x2000</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-8" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-8">1000x2500</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-9" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-9">1100x2500</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-10" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-10">1200x2500</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-11" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-11">1300x3000</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-12" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-12">1300x3000</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-13" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-13">1300x3000</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-14" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-14">1300x3000</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-size-15" type="radio" name="choice-preview-size">
         <label for="choice-preview-size-15">1300x3000</label>
        </div>
       </div>
      </div>
      <div class="product__styles-set">
       <div class="product__styles-title">Комплект:</div>
       <div class="product__styles-choice">
        <div class="product__choice-line radio-global">
         <input checked id="choice-preview-set-1" type="radio" name="choice-preview-set">
         <label data-price="123" class="choice-set without-text" for="choice-preview-set-1">Без комплекта</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-set-2" type="radio" name="choice-preview-set">
         <label data-price="300" class="choice-set" for="choice-preview-set-2">Коробка + наличники</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-set-3" type="radio" name="choice-preview-set">
         <label data-price="432" class="choice-set" for="choice-preview-set-3">Коробка + наличники
          телескопические</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-set-4" type="radio" name="choice-preview-set">
         <label data-price="425" class="choice-set" for="choice-preview-set-4">Для двустворчатой двери</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-set-5" type="radio" name="choice-preview-set">
         <label data-price="832" class="choice-set" for="choice-preview-set-5">Для двустворчатой двери
          телескопический</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-set-6" type="radio" name="choice-preview-set">
         <label data-price="987" class="choice-set" for="choice-preview-set-6">Для двустворчатой двери
          телескопический</label>
        </div>
        <div class="product__choice-line radio-global">
         <input id="choice-preview-set-7" type="radio" name="choice-preview-set">
         <label data-price="1998" class="choice-set" for="choice-preview-set-7">Для раздвижной двери
          тескопический</label>
        </div>
       </div>
      </div>
     </div>
     <div class="product__styles-texture">
      <div class="product__styles-color">
       <div class="product__styles-title">Цвет:</div>
       <div class="product__styles-icons">
        <div class="product-icon product__color-icons current"><img
         src="../../img/product/product-color-icon.png" alt=""></div>
        @@for(let i = 0; i < 9; i++) { 
          <div class="product-icon product__color-icons"><img
           src="../../img/product/product-color-icon.png" alt=""></div>
       }
      </div>
     </div>
     <div class="product__styles-glazing">
      <div class="product__styles-title">Остекление:</div>
      <div class="product__styles-icons">
       <div class="product-icon product__color-icons current"><img src="../../img/product/product-color-icon.png"
         alt=""></div>
       <div class="product-icon product__color-icons"><img src="../../img/product/product-color-icon.png" alt="">
       </div>
       <div class="product-icon product__color-icons"><img src="../../img/product/product-color-icon.png" alt="">
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="show-all-btn__wrapper">
 <a href="javascript:void(0)" class="show-all-btn-link">Подробнее</a>
</div>
</div>
</div>