@@if(sizeTools2 == 'yes') {
 <div class="product__styles-radio radio-3">
}
@@if(sizeTools2 == 'no') {
 <div class="product__styles-radio">
}
 <div class="product__styles-size">
  <div class="product__styles-title">Размер:</div>
  <div class="product__styles-choice scroll">
   <div class="product__choice-line radio-global">
    <input checked id="choice-size-1" type="radio" name="choice-size">
    <label for="choice-size-1">400x2000</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-2" type="radio" name="choice-size">
    <label for="choice-size-2">550x1900</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-3" type="radio" name="choice-size">
    <label for="choice-size-3">600x1900</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-4" type="radio" name="choice-size">
    <label for="choice-size-4">600x2000</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-5" type="radio" name="choice-size">
    <label for="choice-size-5">700x2000</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-6" type="radio" name="choice-size">
    <label for="choice-size-6">800x2000</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-7" type="radio" name="choice-size">
    <label for="choice-size-7">900x2000</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-8" type="radio" name="choice-size">
    <label for="choice-size-8">1000x2500</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-9" type="radio" name="choice-size">
    <label for="choice-size-9">1100x2500</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-10" type="radio" name="choice-size">
    <label for="choice-size-10">1200x2500</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-11" type="radio" name="choice-size">
    <label for="choice-size-11">1300x3000</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-12" type="radio" name="choice-size">
    <label for="choice-size-12">1300x3000</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-13" type="radio" name="choice-size">
    <label for="choice-size-13">1300x3000</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-14" type="radio" name="choice-size">
    <label for="choice-size-14">1300x3000</label>
   </div>
   <div class="product__choice-line radio-global">
    <input id="choice-size-15" type="radio" name="choice-size">
    <label for="choice-size-15">1300x3000</label>
   </div>
  </div>
 </div>
  @@if(sizeTools2 == 'yes') {
   <div class="product__styles-size">
    <div class="product__styles-title">2-ой двери:</div>
    <div class="product__styles-choice scroll">
     <div class="product__choice-line radio-global">
      <input checked id="choice-two-size-1" type="radio" name="choice-two-size">
      <label for="choice-two-size-1">400x2000</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-2" type="radio" name="choice-two-size">
      <label for="choice-two-size-2">550x1900</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-3" type="radio" name="choice-two-size">
      <label for="choice-two-size-3">600x1900</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-4" type="radio" name="choice-two-size">
      <label for="choice-two-size-4">600x2000</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-5" type="radio" name="choice-two-size">
      <label for="choice-two-size-5">700x2000</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-6" type="radio" name="choice-two-size">
      <label for="choice-two-size-6">800x2000</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-7" type="radio" name="choice-two-size">
      <label for="choice-two-size-7">900x2000</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-8" type="radio" name="choice-two-size">
      <label for="choice-two-size-8">1000x2500</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-9" type="radio" name="choice-two-size">
      <label for="choice-two-size-9">1100x2500</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-10" type="radio" name="choice-two-size">
      <label for="choice-two-size-10">1200x2500</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-11" type="radio" name="choice-two-size">
      <label for="choice-two-size-11">1300x3000</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-12" type="radio" name="choice-two-size">
      <label for="choice-two-size-12">1300x3000</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-13" type="radio" name="choice-two-size">
      <label for="choice-two-size-13">1300x3000</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-14" type="radio" name="choice-two-size">
      <label for="choice-two-size-14">1300x3000</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-two-size-15" type="radio" name="choice-two-size">
      <label for="choice-two-size-15">1300x3000</label>
     </div>
    </div>
   </div>
   <div class="product__styles-set">
    <div class="product__styles-title">Комплект:</div>
    <div class="product__styles-choice">
     <div class="product__choice-line radio-global without-text">
      <input checked id="choice-set-1" type="radio" name="choice-set">
      <label class="choice-set" for="choice-set-1">Без комплекта <span id="without-text" style="display: block;">какойто текст</span></label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-set-2" type="radio" name="choice-set">
      <label class="choice-set" for="choice-set-2">Коробка + наличники</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-set-3" type="radio" name="choice-set">
      <label class="choice-set" for="choice-set-3">Коробка T + наличники T</label>
     </div>
    </div>
   </div>
  } 
  @@if(sizeTools2 == 'no') {
   <div class="product__styles-set">
    <div class="product__styles-title">Комплект:</div>
    <div class="product__styles-choice">
     <div class="product__choice-line radio-global">
      <input checked id="choice-set-1" type="radio" name="choice-set">
      <label class="choice-set" for="choice-set-1">Без комплекта</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-set-2" type="radio" name="choice-set">
      <label class="choice-set" for="choice-set-2">Коробка + наличники</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-set-3" type="radio" name="choice-set">
      <label class="choice-set" for="choice-set-3">Коробка + наличники
       телескопические</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-set-4" type="radio" name="choice-set">
      <label class="choice-set" for="choice-set-4">Для двустворчатой двери</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-set-5" type="radio" name="choice-set">
      <label class="choice-set" for="choice-set-5">Для двустворчатой двери
       телескопический</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-set-6" type="radio" name="choice-set">
      <label class="choice-set" for="choice-set-6">Для двустворчатой двери
       телескопический</label>
     </div>
     <div class="product__choice-line radio-global">
      <input id="choice-set-7" type="radio" name="choice-set">
      <label class="choice-set" for="choice-set-7">Для раздвижной двери
       тескопический</label>
     </div>
    </div>
   </div>
  }

</div>