<div class="installing">
  <div class="installing__row">
    <h2 class="h2">установка дверей</h2>

    <p class="installing__text">
      Правильная профессиональная установка межкомнатных дверей играет ключевую роль в удобстве их использования и
      существенно продлевает срок службы. Поэтому не стоит снисходительно относиться и доверять ее неопытным
      специалистам. С дугой стороны, если обратиться к опытному мастеру, то цена может быть довольно высокой.
    </p>
    <p class="installing__text">
      Чтобы сэкономить и обеспечить гарантированно качественный монтаж дверей необходимо обращаться в
      профессиональную компанию.
      Так, на нашем сайте вы можете не только найти контактную информацию и оставить заявку на установку, но и
      ознакомиться с прайс-листом
      на предоставляемые услуги.
    </p>
    <p class="installing__text">
      Заказав установку дверей у нас, клиент всегда может рассчитывать на профессиональную качественную работу, а
      не переплачивать за эту услугу сомнительным специалистам, которые не могут гарантировать правильный монтаж
      межкомнатной двери.
    </p>

  </div>
  <div class="installing__row installing__row-form">

    <form class="form">
      <h3 class="form__title">Заявка на установку двери:</h3>
      <div class="form-group form-group-row">
        <label class="label">
          <input class="input" type="text" placeholder="Контактное лицо">
        </label>
        <label class="label">
          <input class="input" type="text" placeholder="Номер телефона">
        </label>
      </div>
      <div class="form-group form-group-col">
        <label class="label">
          <input class="input" type="text" placeholder="Адрес установки">
        </label>
        <span class="form-example">например: ул. Петровка, 2, 5-й этаж, Москва 107031, Россия</span>
      </div>
      <div class="form-group form-group-textarea">
        <textarea name="comment" placeholder="Ваш комментарий"></textarea>
      </div>
      <div class="form-apply">
        <div class="apply-check">
          <label class="check">
            <input type="checkbox" class="check__input">
            <span class="check__box"></span>
          </label>
        </div>
        <div class="form-desc">
          <span>Нажимая кнопку «Заказать установку», Я даю согласие на обработку моих <a href="#">персональных
            данных.</a></span>
        </div>
      </div>
      <div class="form-btn">
        <button class="btn">Заказать установку</button>
      </div>
    </form>
    <div class="installing__row-img">
      <img class="desc" src="../../img/installing/installing-1.jpg" alt="" />
      <img class="mob" src="../../img/installing/installing-mob-1.jpg" alt="" />
    </div>
  </div>
  <div class="installing__price">
    <div class="installing__price-header">
      <h2>Выезд мастера на установку</h2>
      <span>(1-одной единственной двери на объекте от 3 600 ₽)</span>
      <h2>Стоимость установки межкомнатных дверей от 2-х и более:</h2>
    </div>
    <table class="installing__price-table table">
      <thead>
        <tr>
          <th>№</th>
          <th>Основные работы</th>
          <th>Цена</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Установка стандартной двери</td>
          <td>2 000 ₽</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Установка эмалированной двери</td>
          <td>2 400 ₽</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Установка шпонированой двери</td>
          <td>2 400 ₽</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Установка дверей из массива <span>(дуб, ольха)</span></td>
          <td>2 600 ₽</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Установка глянцевых дверей</td>
          <td>2 600 ₽</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Установка дверей PROFILDOORS, Оникс</td>
          <td>2 800 ₽</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Установка стандартной двустворчатой двери</td>
          <td>3 800 ₽</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Установка двустворчатой двери <span>(эмаль, шпон)</span> </td>
          <td>4 800 ₽</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Установка складной двери</td>
          <td>4 000 ₽</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Установка скрытой двери</td>
          <td>4 000 ₽</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Установка Рото-двери</td>
          <td>5 000 ₽</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Установка раздвижной одностворчатой <span>(без обрамления)</span> </td>
          <td>2 500 ₽</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Установка раздвижной двустворчатой <span>(без обрамления)</span></td>
          <td>5 000 ₽</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Установка стеклянной двери</td>
          <td>3 500 ₽</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Установка двери система “COMPACK”</td>
          <td>5 000 ₽</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Расходный материал <span>(пена, саморезы, клей)</span></td>
          <td>200 ₽</td>
        </tr>
      </tbody>
      </tr>
    </table>
    <div class="installing__price-text">
      <span>Гарантия на установку 1 год.</span>
      <span> Цены указаны за наличный расчёт. При необходимости оплаты по безналичному расчёту по согласованию. </span>
      <span> Проведение работ с пылесосом осуществляется по предварительному согласованию. </span>
      <span> Уборка и вынос строительного мусора в обязанности установщика межкомнатных дверей не входит.</span>
    </div>
  </div>
  <div class="installing__price">
    <div class="installing__price-header">
      <h2>Также ознакомтесь с прайсом на возможные дополнительные работы:</h2>
    </div>
    <table class="installing__price-table table">
      <thead>
        <tr>
          <th>№</th>
          <th>Основные работы</th>
          <th>Цена</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Демонтаж старой двери (обычной)</td>
          <td>250 ₽</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Демонтаж старой двери (сложной)</td>
          <td>500 ₽</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Установка доборов до 150 мм</td>
          <td>800 ₽</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Установка доборов свыше 150 мм</td>
          <td>1 000 ₽</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Установка  доборов свыше 200 мм
          </td>
          <td>1 200 ₽</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Установка портала до 200 мм</td>
          <td>2 000 ₽</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Установка портала свыше 200 мм</td>
          <td>3 000 ₽</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Обрамление входной двери</td>
          <td>2 300 ₽</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Врезка замка <span> (сантехнический, магнитный, под цилиндр)</span></td>
          <td>500 ₽</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Коррекция дверной коробки <span>(паз под добор)</span>  1 комплект
          </td>
          <td>500 ₽</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Коррекция полотна по высоте 1 сторона</td>
          <td>800 ₽</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Коррекция дверей <span>(эмаль, глянец , массив)</span></td>
          <td>1000 ₽</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Коррекция наличника вдоль
          </td>
          <td>200 ₽</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Коррекция наличника телескоп</td>
          <td>300 ₽</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Установка арки , сборного портала</td>
          <td>4 000 ₽</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Установка фрамуги</td>
          <td>1 800 ₽</td>
        </tr>
        <tr>
          <td>17</td>
          <td>Установка плинтуса МДФ, деревянного , 1 погонный метр</td>
          <td>300 ₽</td>
        </tr>
        <tr>
          <td>18</td>
          <td>Установка порога металлического</td>
          <td>300 ₽</td>
        </tr>
        <tr>
          <td>19</td>
          <td>Установка порога деревянного</td>
          <td>300 ₽</td>
        </tr>
        <tr>
          <td>20</td>
          <td>Установка дверей не стандартных свыше 200 см</td>
          <td>+30%</td>
        </tr>
        <tr>
          <td>21</td>
          <td>Расширение проема, 1 сторона <span> (пеноблок, штук)</span> за 1 метр</td>
          <td>500 ₽</td>
        </tr>
        <tr>
          <td>22</td>
          <td>Расширение проема <span>(кирпич , бетон)</span> за 1 метр</td>
          <td>500 ₽</td>
        </tr>
        <tr>
          <td>23</td>
          <td>Сужение проема брусом, за 1 сторону</td>
          <td>400 ₽</td>
        </tr>
        <tr>
          <td>24</td>
          <td>Подпил плинтуса под наличник</td>
          <td>100 ₽</td>
        </tr>
        <tr>
          <td>25</td>
          <td>Врезка ригеля / доп. петли</td>
          <td>200 ₽</td>
        </tr>
        <tr>
          <td>26</td>
          <td>Врезка скрытой петли</td>
          <td>500 ₽</td>
        </tr>
        <tr>
          <td>27</td>
          <td>Установка скрытого порога</td>
          <td>1 500 ₽</td>
        </tr>
        <tr>
          <td>28</td>
          <td>Установка дверного ограничителя</td>
          <td>200 ₽</td>
        </tr>
        <tr>
          <td>29</td>
          <td>Установка доводчика</td>
          <td>1 00 ₽</td>
        </tr>
        <tr>
          <td>30</td>
          <td>Ложный выезд мастера </td>
          <td>1 00 ₽</td>
        </tr>
        <tr>
          <td>31</td>
          <td>Выезд мастеров за МКАД </td>
          <td>35 ₽ / км</td>
        </tr>
      </tbody>
      </tr>
    </table>
  </div>
  <div class="installing__price">
    <div class="installing__price-header">
      <h2>Прайс по входным дверям:</h2>
    </div>
    <table class="installing__price-table table">
      <thead>
        <tr>
          <th>№</th>
          <th>Работы с входными дверями</th>
          <th>Цена</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Установка металлической двери до 100 кг</td>
          <td>3 500 ₽</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Установка металлической двери до 140 кг</td>
          <td>4 000 ₽</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Демонтаж деревянной входной двери</td>
          <td>500 ₽</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Демонтаж железной входной двери</td>
          <td>1 000 ₽</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Закладка пеноблоком (верх до 20 см) с нашим материалом</td>
          <td>2 000 ₽</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Закладка пеноблоком <span>(верх свыше 20 см)</span> с нашим материалом</td>
          <td>3 000 ₽</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Расширение проема (бетон, монолит) 1 погонный метр
          </td>
          <td>1 000 ₽</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Сужение проема брусом</td>
          <td>500 ₽</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Установка доборов и пыльников</td>
          <td>2 300 ₽</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Замена панели</td>
          <td>3 000 ₽</td>
        </tr>
      </tbody>
      </tr>
    </table>
    <div class="installing__price-text">
      <span>Информация данная во всех трех таблицах носит исключительно информационный характер, а установку
        осуществляют наши партнеры!</span>

    </div>
  </div>

  <div class="installing__row">
    <h2 class="h2">Правильная подготовка к установке дверей</h2>
    <p class="installing__text">
      Для выполнения быстрого и качественного монтажа входных и межкомнатных дверей место для их установки должно быть
      правильно подготовлено. Первое, что нужно сделать – это вывести стены, в плоскости которых будет выполнен монтаж,
      под уровень «0», окрасить или оклеить обоями. При этом установка напольного покрытия, равно, как и прочие
      отделочные работы в помещении, должны быть полностью завершены. Размер дверного проема должен полностью
      соответствовать габаритам выбранных для установки дверей.
      <div class="installing__row-body">
        <div class="installing__row-content">
          <p class="installing__text">
            <img class="mob" src="../../img/installing/installing-2.jpg" alt="" />
            Ответственность мастера, выполняющего установку двери, не распространяется на
            осыпание штукатурки, вследствие проведения необходимых монтажных и демонтажных работ, повреждение проводки,
            плинтусов и элементов напольного покрытия, а также на неплотное прилегание наличника к стене в результате
            отсутствия подготовки дверного проема
            или неправильного его выполнения. Мастер не будет нести
            ответственность, если все вышеперечисленное произошло по причине
            естественного старения материалов, а также нарушения порядка
            проведения строительно-монтажных и отделочных работ.<br>
            Кроме того:</p>

          <ul>
            <li>Гарантийные обязательства не действует, если фурнитура и дверное полотно повреждены в процессе
              эксплуатации.</li>
            <li>На повреждение плинтусов, отделки стен и напольного покрытия при установке дверей ответственность
              мастера не распространяется.</li>
            <li>Соответствие типа доставленной двери, цвета и фактуры ее внешнего покрытия, фурнитуры и материала
              изготовления проверяется заказчиком до начала выполнения ее монтажа. После установки двери претензии
              по вышеперечисленным особенностям не принимаются.</li>
          </ul>
        </div>
        <div class="installing__row-img">
          <img class="desc" src="../../img/installing/installing-2.jpg" alt="" />
        </div>
      </div>
    </p>
  </div>

  <div class="installing__row">
    <h2 class="h2">Как формируется стоимость установки дверей?</h2>

    <p class="installing__text">
      Цена на установку дверей зависит от многих факторов, однако, у нас оно всегда доступна, а любое повышение
      стоимости аргументировано и связано со сложностью или сжатыми сроками монтажа. Например, если дверь имеет
      стандартную конструкцию, а установка не требует дополнительных материалов и работ, то стоимость остается на
      минимальной отметке.

    </p>
    <p class="installing__text">
      Дополнительные работы, связанные с врезкой замков в межкомнатные двери и другими задачами, немного увеличивают
      общую цену, но, в любом случае, она остается гораздо ниже, чем у конкурентов. Связавшись с нами, вы можете
      заказать установку на удобную для вас дату и время, также мы осуществляем оперативный монтаж дверей по всему
      городу.

    </p>
    <p class="installing__text">
      Наши опытные специалисты быстро и качественно справятся с любой задачей, а вы сможете существенно сэкономить и без
      лишних хлопот установить межкомнатные двери в своем доме, квартире или офисе.
    </p>

  </div>
  <div class="installing__row installing__row-order">
    <h2 class="h2">Порядок установки межкомнатных дверей</h2>

    <p class="installing__text">
      Любая межкомнатная дверь требует правильной установки. Только в этом случае, она прослужит вам долгий срок,
      полноценно выполняя все свои функции. Современные двери межкомнатные состоят из трёх основных конструкционных
      элементов:
    </p>
    <div class="installing__row-body">
      <div class="installing__row-img">
        <img src="../../img/installing/installing-3.jpg" alt="" />
      </div>
      <div class="installing__row-content">
        <ul>
          <li>Дверной коробки;</li>
          <li>Дверного полотна;</li>
          <li>Дверных наличников.</li>
        </ul>
        <p class="installing__text">
          Для навешивания полотен используются специальные дверные петли. Дверные наличники выполняют декоративную
          функцию.
          Они облагораживают проем и придают вновь установленной двери законченный вид.
        </p>
        <p class="installing__text desc">
          Монтаж дверей начинается со сборки коробки, то есть своей несущей основы и оснащения ее всей необходимой
          фурнитурой – петлями, ручками, защелкивающимся механизмом. Далее установка дверей будет осуществляться так:
        </p>

        <ul class="desc">
          <li>Коробка в проеме устанавливается по уровню и надежно закрепляется;</li>
          <li>Дверное полотно навешивается и регулируется;</li>
          <li>Дверной проем дополнительно отделывается декоративным наличником.</li>
        </ul>
      </div>
    </div>
    <p class="installing__text mob">
      Монтаж дверей начинается со сборки коробки, то есть своей несущей основы и оснащения ее всей необходимой
      фурнитурой – петлями, ручками, защелкивающимся механизмом. Далее установка дверей будет осуществляться так:
    </p>
    <ul class="mob">
      <li>Коробка в проеме устанавливается по уровню и надежно закрепляется;</li>
      <li>Дверное полотно навешивается и регулируется;</li>
      <li>Дверной проем дополнительно отделывается декоративным наличником.</li>
    </ul>
    <p class="installing__text ">
      На этом процесс считается завершенным. Если все сделано правильно, она будет плавно открываться и закрываться, не
      издавая постороннего шума.
    </p>
  </div>

  <div class="installing__row installing__row-secrets">
    <h2 class="h2">Секреты опытного мастера</h2>

    <p class="installing__text">
      Если двери межкомнатные вы решили установить самостоятельно, вам обязательно пригодятся наши советы. В это сложно
      поверить, но для успешной установки дверного полотна его нужно правильно выбрать. Размер покупаемой межкомнатной
      двери должен четко соответствовать размеру дверного проема, поскольку слишком большое полотно потребует его
      увеличения, а слишком маленькое – сужению, что влечет за собой дополнительные финансовые расходы.

    </p>
    <p class="installing__text">
      Кроме того, нужно проследить за тем, чтобы наличник полностью закрывал откосы дверного проема. В противном случае
      вновь установленная дверь не будет иметь эстетичный внешний вид, поскольку обнаружатся мелкие дефекты, которые
      необходимо будет устранять. Поэтому при выборе межкомнатной двери нужно учесть следующие параметры:
    </p>
    <ul>
      <li>Ширину и высоту полотна;</li>
      <li>Ширину и толщину коробки;</li>
      <li>Ширину наличников;</li>
      <li>Наличие или отсутствие порога.</li>
    </ul>
    <p class="installing__text">
      Кроме того, нужно проследить за тем, чтобы наличник полностью закрывал откосы дверного проема. В противном случае
      вновь установленная дверь не будет иметь эстетичный внешний вид, поскольку обнаружатся мелкие дефекты, которые
      необходимо будет устранять. Поэтому при выборе межкомнатной двери нужно учесть следующие параметры:
    </p>

  </div>
</div>
<!-- /.installing -->