
// Colors
$main-color: #000;



//transition

$transition-color: color 0.2s linear;
$transition-bg: background-color 0.2s linear;
$transition-opacity: opacity 0.2s linear;



//Font-famyli


$font-main: 'Arial', sans-sefif;

