@font-face {
	font-family: 'icomoon';
	src: url('../icomoon//icomoon.eot?2mhzuv');
	src: url('../icomoon//icomoon.eot?2mhzuv#iefix') format('embedded-opentype'), url('../icomoon//icomoon.ttf?2mhzuv') format('truetype'), url('../icomoon//icomoon.woff?2mhzuv') format('woff'), url('../icomoon//icomoon.svg?2mhzuv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-']::before,
[class*=' icon-']::after {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
	content: '\e927';
	color: #fff;
	font-size: 40px;

	@media (max-width: 1200px) {
    font-size: 29px;
    margin-left: 2px;
	}
}
.navigation__basket_link .icon-shopping-cart::before {
	@media (max-width: 1200px) {
		font-size: 23px;
	}
}

.icon-compare:before {
	content: '\e917';
	color: $main;
}

.icon-heart:before {
	content: '\e91a';
	color: $main;
}

.icon-message:before {
	content: '\e91c';
	color: $main;
	font-size: 18px;
}
// .icon-placeholder:before {
//   content: "\e91f";
// }

// .icon-placeholder:before {
//   content: "\e91f";
//   color: $main;
//   font-size: 16px;

//   @media (max-width: 767px) {
//     color: $black;
//     font-size: 26px;
//   }
// }

.icon-whatsapp:before {
	content: '\e926';
	color: #25d366;
	font-size: 24px;

	@media (max-width: 1200px) {
		font-size: 15px;
	}
}

.icon-search {
	margin: 0px 18px 0px 0px;
}

.icon-search:before {
	content: '\e921';
	font-size: 25px;
}

.icon-support:before {
	content: '\e923';
	color: $main;
	font-size: 20px;
	@media (max-width: 1200px) {
		font-size: 16px;
	}
}

.icon-user:before {
	content: '\e907';

	@media (max-width: 767px) {
		color: #494747;
		font-size: 25px;
	}
}

.icon-credit-card:before {
	content: '\e900';
}

.icon-fast-delivery:before {
	content: '\e901';
}

.icon-fire:before {
	content: '\e902';
}

.icon-guarantee:before {
	content: '\e903';
}

.icon-hot-sale:before {
	content: '\e904';
}

.icon-like:before {
	content: '\e905';
}

.icon-price:before {
	content: '\e906';
}

.icon-star:before {
	content: '\e909';
}

.icon-up-arrow:before {
	content: '\e90a';
}

.icon-check:before {
	content: '\e90b';
}

.icon-delete:before {
	content: '\e90c';
	font-size: 16px;
}

.icon-delivery-box:before {
	content: '\e90d';
}

.icon-left-black-arrow:before {
	content: '\e90e';
}

.icon-money-bills:before {
	content: '\e90f';
}

.icon-return:before {
	content: '\e910';
}

.icon-add:before {
	content: '\e911';
}

.icon-cancel:before {
	content: '\e913';
}

.icon-catalog:before {
	content: '\e914';
}

.icon-click:before {
	content: '\e915';
}

.icon-clipboards:before {
	content: '\e916';
}

.icon-done-tick:before {
	content: '\e918';
}

.icon-filter:before {
	content: '\e919';
}

.icon-menu:before {
	content: '\e91b';
}

.icon-minus:before {
	content: '\e91d';
}

.icon-next:before {
	content: '\e91e';
}

.icon-right-arrow:before {
	content: '\e920';
}

.icon-sketch:before {
	content: '\e922';
}

.icon-tag:before {
	content: '\e924';
}

// .icon-add:before {
//   content: "\e90c";
// }

// .icon-call-new:before {
//   content: "\e90d";
// }

// .icon-cancel:before {
//   content: "\e90e";
// }

// .icon-catalog:before {
//   content: "\e90f";
// }

// .icon-click:before {
//   content: "\e910";
// }

// .icon-clipboards:before {
//   content: "\e911";
// }

// .icon-done-tick:before {
//   content: "\e913";
// }

// .icon-filter:before {
//   content: "\e917";
// }

// .icon-menu:before {
//   content: "\e919";
// }
// .icon-delete:before {
//   content: "\e90d";
// }

// .icon-minus:before {
//   content: "\e91b";
// }

// .icon-next:before {
//   content: "\e91c";
// }

// .icon-right-arrow:before {
//   content: "\e91e";
// }

// .icon-sketch:before {
//   content: "\e920";
// }

// .icon-tag:before {
//   content: "\e922";
// }

// .icon-1:before {
//   content: "\e900";
// }

// .icon-2:before {
//   content: "\e901";
// }

// .icon-3:before {
//   content: "\e902";
// }

// .icon-4:before {
//   content: "\e903";
// }

// .icon-5:before {
//   content: "\e904";
// }

// .icon-6:before {
//   content: "\e905";
// }

// .icon-clock-1:before {
//   content: "\e906";
// }

// .icon-clock:before {
//   content: "\e907";
// }

// .icon-facebook:before {
//   content: "\e908";
// }

// .icon-home-icon-silhouette:before {
//   content: "\e909";
// }

// .icon-left-arrow-1:before {
//   content: "\e90a";
// }

// .icon-mail:before {
//   content: "\e90b";
// }

// .icon-phone:before {
//   content: "\e914";
// }

// .icon-pin:before {
//   content: "\e915";
// }

// .icon-viber:before {
//   content: "\e916";
// }

.icon-credit-card:before {
	content: '\e900';
}

.icon-fast-delivery:before {
	content: '\e901';
}

.icon-fire:before {
	content: '\e902';
}

.icon-guarantee:before {
	content: '\e903';
}

.icon-hot-sale:before {
	content: '\e904';
}

.icon-like:before {
	content: '\e905';
}

.icon-price:before {
	content: '\e906';
}

.icon-shopping-cart-1:before {
	content: '\e907';
}

.icon-star:before {
	content: '\e909';
}

.icon-up-arrow:before {
	content: '\e90a';
}

.icon-check:before {
	content: '\e90b';
}

.icon-delete:before {
	content: '\e90c';
}

.icon-delivery-box:before {
	content: '\e90d';
}

.icon-left-black-arrow:before {
	content: '\e90e';
}

.icon-money-bills:before {
	content: '\e90f';
}

.icon-return:before {
	content: '\e910';
}

.icon-add:before {
	content: '\e911';
}

.icon-call-new:before {
	// content: "\e912";
	// font-size: 31px;
	// text-shadow: 0px 0px 1px $blue;
	content: url('../img/icons/call.svg');

	@media (max-width: 1200px) {
		content: url('../img/icons/call-tablet.svg');
	}
}

.icon-cancel:before {
	content: '\e913';
}

.icon-catalog:before {
	content: '\e914';
}

.icon-click:before {
	content: '\e915';
}

.icon-clipboards:before {
	content: '\e916';
}

.icon-compare:before {
	content: '\e917';
}

.icon-done-tick:before {
	content: '\e918';
}

.icon-filter:before {
	content: '\e919';
}

.icon-heart:before {
	content: '\e91a';
}

.icon-menu:before {
	content: '\e91b';
}

.icon-message:before {
	content: '\e91c';
}

.icon-minus:before {
	content: '\e91d';
}

.icon-next:before {
	content: '\e91e';
}

.icon-placeholder {
	width: 12.8px;
	display: flex;
  @media (max-width: 767.67px) {
    width: 25px;
  }
	img {
		width: 100%;
	}
}

.icon-right-arrow:before {
	content: '\e920';
}

.icon-search:before {
	content: '\e921';
  @media (max-width: 767.67px) {
    color: #494747;
  }
}

.icon-sketch:before {
	content: '\e922';
}

.icon-support:before {
	content: '\e923';
}

.icon-tag:before {
	content: '\e924';
}

.icon-user:before {
	content: '\e907';

}

.icon-whatsapp-1:before {
	content: '\e926';
	font-size: 24px;
}

.dp-numberPicker-add,
.dp-numberPicker-sub {
	position: relative;
	&::after {
		content: '\e911';
		font-family: 'icomoon' !important;
		color: $white;
		font-size: 12px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.dp-numberPicker-sub {
	&::after {
		content: '\e91d';
	}
}
