.product-comparison {
	padding: 24px 0px 25px 0px;
	letter-spacing: 0.3px;
	@media (max-width: 1200px) {
		padding: 15px 0px 25px 0px;
	}
	// .product-comparison__inner
	.h2 {
		margin: 0px 0px 20px 0px;
		@media (max-width: 1200px) {
			margin: 0px 0px 12px 0px;
		}
	}

	&__inner {
		max-width: 1140px;
		width: 100%;
		display: flex;
		@media (max-width: 1200px) {
			padding: 0px 0px 18px 0px;
		}
	}

	// .product-comparison__column

	&__column {
		display: flex;
		flex-direction: column;
		position: relative;

		&--125 {
			flex: 0 0 125px;
			.product-comparison__row--h261 {
				justify-content: center;
			}
			@media (max-width: 1200px) {
				position: sticky;
				left: 0;
				top: 0;
				background-color: $white;
				z-index: 1;
			}
		}

		&--tac {
			flex: 0 0 255px;
			text-align: center;
			& + & {
				.product-comparison__row {
					padding: 0px 0px 0px 10px;
				}
			}
		}
	}

	&__hide {
		font-size: 16px;
		line-height: 18px;
		font-weight: 500;
		color: $blue;
		text-decoration: underline;
		text-decoration-style: dashed;
		text-underline-offset: 2px;
		margin: 45px 0px 0px 0px;
	}

	// .product-comparison__row

	&__row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 36px;
		font-size: 14px;
		font-weight: 500;
		&--flr {
			flex-direction: row;
			align-items: center;
			a {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $black;
				@media (min-width: 1200px) {
					&:hover {
						color: $main;
						svg {
							fill: $main;
						}
					}
				}
			}
			svg {
				margin-left: -20px;
				margin-right: 8px;
				transition: fill 0.3s;
			}
		}
		& + & {
			border-top: 1px solid #e7e7e7;
		}
	}

	// .product-comparison__row--h261

	&__row--h261 {
		height: 261px;
		justify-content: flex-start;
		align-items: center;
		img {
			width: 203px;
			@media (max-width: 1200px) {
				width: 200px;
			}
		}
		span {
			padding: 0 20px;
			letter-spacing: 0;
			margin: 0px 0px 8px 0px;
			@media (max-width: 1200px) {
				margin: 0px 0px 6px 0px;
			}
		}
	}

	.simplebar-content {
		display: flex;
	}
	.simplebar-track.simplebar-horizontal {
		display: none;
		width: 632px;
		height: 8px;
		right: 0;
		left: initial;
		box-shadow: inset 0 2px 4px 1px #9ba1ac;
		border-radius: 4px;
		opacity: 0.75;
		background-color: #cfd4de;
		pointer-events: unset;
		@media (max-width: 1200px) {
			display: block;
			pointer-events: none;
		}
		@media (max-width: 767.97px) {
			width: 198px;
		}
	}
	.simplebar-dragging {
		.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
			&::before {
				background: #275c71;
			}
		}
	}
	.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
		height: 8px;
		top: 0;
		border-radius: 4px;
		background: #64b0ce;
		cursor: pointer;
		&:hover {
			&::before {
				background: #275c71;
			}
		}
		&::before {
			left: 0;
			right: 0;
			background: #64b0ce;
			opacity: 1;
			box-shadow: inset 0 2px 4px 1px #3389a6;
			transition: background 0.3s ease;
		}
	}
}
.h2 {
}
