<div class="header__top">
  <div class="container">
    <div class="header__top_box">
      <ul class="header__top_left">
        <li class="header__top_item header__top_item--ml">
          <div class="header__top_item_icon">
           <span class="icon-placeholder">
             <img src="./img/icons/placeholder.svg" alt="" />
           </span>
          </div>
          <div class="header__top_item_label">Ваш город:</div>
          <a href="/" class="header__top_item_city">Москва</a>
        </li>
      </ul>
      <!-- /.header__top_left -->
      <ul class="header__top_right">
        <li class="header__top_item">
          <a href="mailto:dveriunas@mail.ru" class="header__top_item_label">
            <div class="header__top_item_icon--mt">
              <span class="icon-message"></span>
            </div>
            <span class="dashed">Dveriunas@mail.ru</span>
          </a>
        </li>
        <li class="header__top_item popup-link">
          <a href="/" class="header__top_item_label">
            <div class="header__top_item_icon">
              <span class="icon-compare"></span>
            </div>
            <span>Сравнить</span>
            <div class="header__top_item_badge">4</div>
          </a>
          <div class="popup bot">Товары для сравнения не выбраны</div>
        </li>
        <li class="header__top_item popup-link">
          <a href="/" class="header__top_item_label">
            <div class="header__top_item_icon">
              <span class="icon-heart"></span>
            </div>
            <span>Избранное</span>
            <div class="header__top_item_badge">17</div>
          </a>
          <div class="popup bot">В избранном пока пусто</div>
        </li>
        <li class="header__top_item">
          <a href="/" class="header__top_item_label ">
            <div class="header__top_item_icon ">
              <span class="icon-user"></span>
            </div>
            <span>Личный кабинет</span>
          </a>
        </li>
      </ul>
      <!-- /.header__top_right -->
    </div>
    <!-- /.header__top_box -->
  </div>
  <!-- /.container -->
</div>
<!-- /.header__top -->