.product-onyx {
  .slick-slide {
    outline: none;
  }

  //global
  .setting-row {
    display: flex;
    align-items: center;
    position: relative;
  }

  .onyx-select {
    border: 1px solid #e7e7e7;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
  }

  .setting-name {
    color: #212121;
    font-weight: 800;
    font-size: 14px;
    margin-right: 8px;

    &.setting-name-top {
      margin-bottom: 15px;
    }
  }

  .js-setting-input {
    &.open {
      &::after {
        content: '';
        width: 15px;
        height: 15px;
        background: #fff;
        border: 1px solid #e7e7e7;
        transform: rotate(45deg);
        position: absolute;
        top: 45px;
        right: 14px;
      }

      &::before {
        transform: rotate(270deg) translateX(50%);
      }
    }

    &::before {
      content: '\e91e';
      font-family: 'icomoon';
      color: #212121;
      position: absolute;
      transform: rotate(90deg) translateX(-50%);
      top: 50%;
      right: 1rem;
      font-size: 11px;
      z-index: 2;
    }
  }

  .setting-input {
    position: relative;
    cursor: pointer;


    &:hover {
      .onyx-select {
        color: #64b0ce;

        .list {
          color: #212121;
        }
      }

      &::before {
        color: #64b0ce;
      }
    }
  }

  //-----------------------


  .product__photo {
    grid-area: header;

    .product__photo-onyx--wrapper {
      width: 250px;
      height: 450px;
      position: relative;
      padding: 0;
      border: 2px solid #e7e7e7;
      border-radius: 4px;
      margin-bottom: 10px;
      .onyx__photo-icons {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 25;

        .item-icon {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #e7e7e7;
          border-radius: 2px;
          margin-bottom: 10px;
          transition: all 0.3s;
          background-color: #fff;

          i {
            &::before {
              color: #4e4c4c;
              transition: all 0.3s;
            }
          }

          &:hover {
            background-color: #64b0ce;
            border: 1px solid #64b0ce;
            transition: all 0.3s;

            i {
              &::before {
                color: #fff;
                transition: all 0.3s;
              }
            }
          }

          &.active {
            background: #085892;
            border: 1px solid #085892;

            i {
              &::before {
                color: #fff;
                transition: all 0.3s;
              }
            }
          }
        }
      }

      .onyx__photo-promo {
        position: absolute;
        left: 0;
        top: 10px;
        display: flex;
        flex-direction: column;
        max-width: 90px;
        width: 100%;
        letter-spacing: -1px;
        z-index: 25;

        .slider-promo {
          border-radius: 0 4px 4px 0;
          color: #fff;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 500;
          text-align: center;
          padding: 3px 0;

          &:not(:last-child) {
            margin-bottom: 5px;
          }

          &.order {
            background-color: #0c7c06;
          }

          &.top {
            background-color: #fa2c31;
          }

          &.material {
            background-color: #7bb600;
          }

          &.discount {
            background-color: #fd530e;
          }

          &.shop {
            background-color: #085892;
          }

          &.novelty {
            background-color: #b6b400;
          }

          &.withdrawn {
            background-color: #662e27;
          }

          &.guarantee {
            background-color: #47bce3;
          }
        }
      }

      .onyx__photo-view {
        position: absolute;
        right: 5px;
        bottom: 5px;
        display: flex;
        z-index: 25;

        .slider-view {
          i {
            margin-right: 0;

            &::before {
              color: #64b0ce;
            }
          }
        }
      }

      .onyx-link-fancybox {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 20;
      }
    }

    &-onyx {
      width: 100%;
      height: 100%;
      position: relative;

      .onyx-item {
        position: absolute;
        width: 100%;
        max-width: 170px;

        height: 380px;
        left: 50%;

        img {
          width: 100%;
        }

        &.onyx-1 {

          top: 50%;
          transform: translate(-50%, -46%);
        }

        &.onyx-2 {
          transform: translate(-50%, 8%);
          height: 396px;
          max-width: 210px;

          img {
            height: 100%;
          }
        }

        &.onyx-3 {
          transform: translate(-50%, 4%);
          max-width: 230px;
        }

        &.onyx-4 {
          transform: translate(-50%, 9%);
          max-width: 210px;
        }

        &.onyx-5 {
          transform: translate(-50%, 13%);
          max-width: 210px;
        }

        &.onyx-6 {
          transform: translate(-50%, -35%);
          height: 35px;
          bottom: 0;
          max-width: 210px;
        }

        &.onyx-7 {
          transform: translate(-50%, 13%);
          z-index: 2;
        }

        &.onyx-8 {
          transform: translate(-50%, 13%);

        }

        &.onyx-9 {
          transform: translate(-50%, 13%);
          z-index: 3;
        }
      }
    }
    .product__photo-description {
      display: flex;
      font-weight: 500;
      font-size: 12px;
      margin-bottom: 20px;
    }
  }

  .product__card {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
            "header first"
            "header third"
            "header second";
  }

  .product__choose {
    width: auto;
    &.first-choose {
      grid-area: first;
    }
    &.second-choose {
      grid-area: second;
    }
    &.third-choose {
      grid-area: third;
    }
    .product__buy {
      &-price {
        flex-direction: row;
        max-width: max-content;

        .price-counter {
          margin-bottom: 0;
          margin-right: 30px;
        }
      }

      &-act {
        .product__act-btn {
          justify-content: flex-end;
        }
      }
    }

    .product__settings {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

    .product__settings-row-glass-grid {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .product__settings-row {
        flex: 0 0 49%;
        max-width: 49%;
        flex-direction: column;
      }
      .lattice-type {
        margin-bottom: 10px;
      }
    }
      .product__settings-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
        flex: 0 0 100%;
        max-width: 800px;
        &.grid-glass-settings {
          flex-direction: column;
        }
        &.btn-row {
          flex-direction: column;
        }
        &.grid {

        }

        &.column {
          flex-direction: column;
        }

        .nice-select {
          justify-content: flex-start;
          width: 115px;

          &:hover {
            &::before {
              color: #64b0ce;
            }
          }

          &::after {
            display: none;
          }

          &::before {
            content: '\e91e';
            font-family: 'icomoon';
            color: #212121;
            position: absolute;
            transform: rotate(90deg) translateX(-50%);
            top: 2px;
            right: 14px;
            font-size: 11px;
            z-index: 2;
            transition: all .4s;
          }

          &.open {
            position: relative;
            color: #64b0ce;

            &::before {
              transition: all .4s;
              transform: rotate(270deg) translateX(50%);
            }

            .list {
              color: #212121;
            }

            &::before {
              color: #64b0ce;
            }

            &::after {
              content: '';
              width: 15px;
              height: 15px;
              background: #fff;
              border: 1px solid #e7e7e7;
              transform: rotate(45deg);
              position: absolute;
              top: 48px;
              right: 14px;
              display: block;
            }
          }

          .list {
            width: 115px;
            border-radius: 4px;
            border: 1px solid #e7e7e7;
            box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 0.75);
            max-height: 200px;
            overflow: scroll;
            scrollbar-width: none;
            top: 50px;
            margin: 0;
            z-index: 999;

            &::-webkit-scrollbar-thumb,
            &::-webkit-scrollbar {
              display: none;
            }

          }

          .option {
            padding: 0 0 0 10px;
            font-weight: 500;

            &.selected.focus {
              background-color: #fff;
              color: #212121;
              font-weight: 500;

              &:hover {
                background-color: #64b0ce;
                color: #fff;
                font-weight: 500;
              }
            }

            &:hover {
              background-color: #64b0ce;
              color: #fff;
              font-weight: 500;
            }
          }
        }

        // align-items: center;
        &--size {
        }

        &--color {
          max-width: 100%;
          width: 100%;
          justify-content: flex-end;

          .setting-input {
            max-width: 450px;
            width: 100%;

            &.open {

              &::before,
              .color__input {
                color: #64b0ce;
              }
            }
          }

          .color__input {
            width: 100%;
            cursor: pointer;

            &:disabled {
              background-color: #fff;
            }
          }

          .color__wrapper {
            position: absolute;
            display: none;
            max-width: 450px;
            padding: 8px 0 8px 8px;
            max-height: 200px;
            overflow: scroll;
            width: 100%;
            scrollbar-width: none;
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid #e7e7e7;
            top: 50px;
            z-index: 999;
            box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 0.75);

            .mCustomScrollBox {
              width: 100%;
            }

            .mCSB_inside > .mCSB_container {
              margin-right: 10px;
            }

            .mCSB_container {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
            }

            &::-webkit-scrollbar {
              display: none;
            }

            &::-webkit-scrollbar-thumb {
              display: none;
            }

            &-block {
              max-width: 100px;
              padding: 2px 2px 5px 2px;
              font-size: 11px;
              font-weight: 400;
              text-align: center;
              cursor: pointer;
              border-radius: 4px;
              transition: all .3s;

              img {
                margin-bottom: 10px;
              }

              &:hover,
              &.current {
                background-color: #64b0ce;
                color: #fff;
              }
            }
          }
        }

        &--slider {
          display: flex;
          flex-direction: column;
          align-items: center;

          .setting-name {
            margin-bottom: 15px;
            display: flex;
            width: 100%;
            padding-left: 4px;
          }

          .settings__slider {
            max-width: 330px;

            &-img {
              position: relative;
              width: 80px;
              height: 80px;
              overflow: hidden;
              border: 2px solid #e7e7e7;
              border-radius: 10px;
              transition: all .4s;

              img {
                position: absolute;
                width: 84px;
                max-width: initial;
                height: 84px;
                max-height: initial;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            &-item {
              // display: flex !important;
              flex-direction: column;
              align-items: center;
              width: 135px;
              cursor: pointer;
              display: none !important;

              &:hover {
                .settings__slider-img {
                  border-color: #64b0ce;
                }
              }

              &.current {
                .settings__slider-img {
                  border-color: #085892;
                }

                &:hover {
                  .settings__slider-img {
                    border-color: #085892;
                  }
                }
              }

              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3) {
                display: flex !important;
              }

              .settings__slider-text {
                max-width: 100px;
                text-align: center;
              }
            }

            &.disabled {
              display: flex;
              align-items: flex-start;
              width: 100%;

              .settings__slider-item {
                max-width: 110px;
                width: 100%;
              }
            }

            // slick arrow
            .slick-arrow {
              position: absolute;
              top: 50%;
              transform: translateY(-100%);
              width: 24px;
              height: 34px;
              box-shadow: 0 0 4px 1px rgba(175, 174, 175, 0.43);
              border-radius: 4px;
              border: none;
              background-color: #64b0ce;
              font-size: 0;
              background-position: center;
              background-repeat: no-repeat;
              background-size: 18px;
              cursor: pointer;
              z-index: 990;
              transition: .3s;

              &:hover {
                background-color: #085892;
              }

              &::before {
                content: '\e91e';
                font-family: 'icomoon';
                font-size: 15px;
                color: #ffff;
              }

              &.slick-next {
                right: -13px;
              }

              &.slick-prev {
                left: -13px;
                transform: translateY(-100%) rotate(180deg);
              }
            }
          }
        }

        &--controls {
          display: flex;

          h2 {
            margin-bottom: 15px;
          }

          .onyx-select {
            width: 105px;
            justify-content: center;
            padding: 0;
            margin-right: 10px;

            &:hover {
              background: #64b0ce;
              border-color: #64b0ce;
              color: #fff;
            }

            &.active {
              background: #64b0ce;
              border-color: #64b0ce;
              color: #fff;
            }
          }

          p {
            max-width: 470px;
            margin-left: 15px;
            font-size: 14px;
            font-weight: 500;
          }
        }

        &--glasstype {
          .glasstype__inner {
            display: flex;
            max-width: 115px;

            &-item {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-right: 10px;
              cursor: pointer;
            }

            &-text {
              text-align: center;
              font-weight: 500;
            }
          }
        }

        // решетка
        .lattice-type {
          width: 100%;

          &:first-child {
            margin-right: 10px;
          }

          .nice-select {
            width: 100%;

            .list {
              width: 100%;
              max-height: max-content;
            }
          }
        }

        &--inner {
        }

        &--outer {
        }
      }
    }
  }
}





@media (max-width: 1200px) {
  .product-onyx {
    .slick-slide {
      & ~ div {
        display: flex;
        justify-content: center;
      }
    }

    //global
    .setting-row {

    }

    .onyx-select {
    }

    .setting-name {

      &.setting-name-top {
      }
    }

    .js-setting-input {
      &.open {
        &::after {
        }

        &::before {
        }
      }

      &::before {
      }
    }

    .setting-input {
      &:hover {
        .onyx-select {
          .list {
          }
        }
        &::before {
        }
      }
    }

    //-----------------------
    .product__card {
      grid-template-columns: 170px auto;
    }

    .product__photo {

      .product__photo-social--wrapper {
        .social__block {
          position: relative;
        }
      }
      .product__photo-onyx--wrapper {
        width: 170px;
        height: 280px;

        .onyx__photo-icons {
          top: 7px;
          right: 7px;
          .item-icon {
            width: 29px;
            height: 29px;

            i {
              &::before {
              }
            }

            &:hover {

              i {
                &::before {
                }
              }
            }

            &.active {
              i {
                &::before {

                }
              }
            }
          }
        }

        .onyx__photo-promo {

          .slider-promo {

            &:not(:last-child) {
            }

            &.order {
            }

            &.top {
            }

            &.material {
            }

            &.discount {
            }

            &.shop {
            }

            &.novelty {
            }

            &.withdrawn {
            }

            &.guarantee {
            }
          }
        }

        .onyx__photo-view {
          .slider-view {
            i {
              &::before {
              }
            }
          }
        }

      }

      &-onyx {

        .onyx-item {
          max-width: 110px;
          height: 240px;
          img {
          }

          &.onyx-1 {
            transform: translate(-50%,-46%);
          }

          &.onyx-2 {
            height: 250px;
            max-width: 130px;
            transform: translate(-50%,8%);

            img {
            }
          }

          &.onyx-3 {
            transform: translate(-50%,3%);
            max-width: 145px;
          }


          &.onyx-4 {
            transform: translate(-50%,8%);
            max-width: 130px;
          }

          &.onyx-5 {
            transform: translate(-50%,12%);
            max-width: 130px;
          }

          &.onyx-6 {
            transform: translate(-50%,15%);
            width: 130px;
          }

          &.onyx-7 {
          }

          &.onyx-8 {
          }

          &.onyx-9 {
          }
        }
      }
      .product__photo-description {
        display: none;
      }
    }

    .product__choose {
      padding: 0 0 0 15px !important;
      .product__buy {
        &-price {
          flex-direction: column;
          margin-right: 30px;
          .price-counter {
            margin: 0 0 10px 0;
          }
        }

        &-act {
          justify-content: center;
          .product__act-btn {
            justify-content: space-between;
          }
        }
      }

      .product__settings {

        .product__settings-row {
          &:first-child {
            margin-bottom: 15px;
          }
          margin-bottom: 0;
          &.grid {
            grid-template-columns: 280px 280px;
          }
          &.column {
          }

          .nice-select {

            &:hover {
              &::before {
              }
            }

            &::after {
            }

            &::before {
            }

            &.open {

              &::before {
              }

              .list {
              }

              &::before {
              }

              &::after {
              }
            }

            .list {

              &::-webkit-scrollbar-thumb,
              &::-webkit-scrollbar {
              }

            }

            .option {

              &.selected.focus {

                &:hover {
                }
              }

              &:hover {
              }
            }
          }

          // align-items: center;
          &--size {
            flex-direction: column;
            align-items: flex-start;
            margin-right: 15px;
            .setting-name {
              margin-bottom: 10px;
            }
          }

          &--color {
            flex-direction: column;
            align-items: flex-start;
            .setting-name {
              margin-bottom: 10px;
            }
            .setting-input {

              &.open {

                &::before,
                .color__input {
                }
              }
            }

            .color__input {

              &:disabled {
              }
            }

            .color__wrapper {
              top: 78px;
              .mCustomScrollBox {
              }

              .mCSB_inside > .mCSB_container {
              }

              .mCSB_container {
              }

              &::-webkit-scrollbar {

              }

              &::-webkit-scrollbar-thumb {

              }

              &-block {

                img {
                }

                &:hover,
                &.current {
                }
              }
            }
          }

          &--slider {

            .setting-name {
            }

            .settings__slider {
              max-width: 270px;
              justify-content: center;
              .slick-list.draggable {
                width: 240px;
              }
              &-img {
                width: 65px;
                height: 65px;
                img {
                }
              }

              &-item {
                position: relative;
                width: 70px !important;
                &:hover {
                  .settings__slider-img {

                  }
                }

                &.current {
                  .settings__slider-text {
                    visibility: visible;
                    font-size: 8.5px;
                    font-weight: 500;
                    line-height: 11px;
                    max-width: 78px;
                    overflow: hidden;
                  }
                  .settings__slider-img {
                  }

                  &:hover {
                    .settings__slider-img {
                    }
                  }
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                }

                .settings__slider-text {
                  visibility: hidden;
                }
              }

              &.disabled {

                .settings__slider-item {
                }
              }

              // slick arrow
              .slick-arrow {
                top: 46%;
                &:hover {
                }

                &::before {
                }

                &.slick-next {
                  right: -20px;
                }

                &.slick-prev {
                  left: -19px;
                }
              }
            }
          }

          &--controls {

            h2 {
            }

            .onyx-select {

              &:hover {
              }

              &.active {
              }
            }

            p {
              max-width: 330px;
            }
          }

          &--glasstype {
            .glasstype__inner {

              &-item {
              }

              &-text {
                font-size: 8.5px;
                font-weight: 500;
                line-height: 11px;
              }
              &-img {
                width: 65px;
              }
            }
          }

          // решетка
          .lattice-type {

            &:first-child {
            }

            .nice-select {

              .list {
              }
            }
          }

          &--inner {
          }

          &--outer {
          }

          &.btn-row {
            flex-direction: column;
            margin-bottom: 10px;
          }
          &.grid-row {
            margin-bottom: 15px;
          }
          &.glass-row {
            .product__settings-row--slider {
              .settings__slider {
                .slick-arrow {
                  &.slick-prev {
                    left: -4px;
                  }
                  &.slick-next {
                    right: -5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .product-onyx {
    .slick-slide {
    }

    //global
    .setting-row {
    }

    .onyx-select {
    }

    .setting-name {

      &.setting-name-top {
      }
    }

    .js-setting-input {
      &.open {
        &::after {
        }

        &::before {
        }
      }

      &::before {
      }
    }

    .setting-input {
      &:hover {
        .onyx-select {
          .list {
          }
        }
        &::before {
        }
      }
    }

    //-----------------------
  .product__inner {
    margin-bottom: 30px;
    .product__photo-info {
      justify-content: flex-start;
      .product__rating {
        padding-left: 20px;
      }
    }
  }

    .product__photo {

      .product__photo-onyx--wrapper {
        margin: 0;
        //width: 250px;
        //height: 360px;
        .onyx__photo-icons {

          .item-icon {

            i {
              &::before {
              }
            }

            &:hover {

              i {
                &::before {
                }
              }
            }

            &.active {
              i {
                &::before {

                }
              }
            }
          }
        }

        .onyx__photo-promo {

          .slider-promo {

            &:not(:last-child) {
            }

            &.order {
            }

            &.top {
            }

            &.material {
            }

            &.discount {
            }

            &.shop {
            }

            &.novelty {
            }

            &.withdrawn {
            }

            &.guarantee {
            }
          }
        }

        .onyx__photo-view {
          .slider-view {
            i {
              &::before {
              }
            }
          }
        }

        .onyx-link-fancybox {
        }
      }

      &-onyx {
        .onyx-item {
          img {
          }
          &.onyx-1 {
            max-width: 119px;
            height: 270px;
            transform: translate(-50%,-47%);
          }

          &.onyx-2 {
            transform: translate(-50%,6%);
            height: 280px;
            max-width: 140px;
            img {
            }
          }

          &.onyx-3 {
            transform: translate(-50%,2%);
            max-width: 152px;
          }

          &.onyx-4 {
            transform: translate(-50%,7%);
            max-width: 140px;
          }

          &.onyx-5 {
            transform: translate(-50%,12%);
            max-width: 140px;
          }

          &.onyx-6 {
            transform: translate(-50%,-1%);
            width: 140px;
          }

          &.onyx-7 {
            max-width: 133px;
            height: 280px;
            transform: translate(-50%,9%);
          }

          &.onyx-8 {
            max-width: 110px;
            height: 280px;
            transform: translate(-50%,9%);
          }

          &.onyx-9 {
            max-width: 133px;
            height: 280px;
            transform: translate(-50%,9%);
          }
        }
      }
      .product__photo-description {

      }
    }

    .product__card {
      grid-template-columns: 170px 1fr;
      grid-template-rows: 146px 230px;
      grid-template-areas:
              "header first"
              "header third"
              "second second";

    }

    .product__choose {
      .product__buy {
        &-price {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 1rem;
          .price-counter {
            margin-right: 0;
          }
        }

        &-act {

          .product__act-btn {
            display: flex;
            flex-direction: row;
          }
        }
      }

      .product__settings {
        .product__settings-row {
          &.grid {
            grid-template-columns: 50% 50%;
            grid-template-rows: 142px;
          }

          &.column {
          }
          &.select-row {
            flex-direction: column;
          }
          .nice-select {

            &:hover {
              &::before {
              }
            }

            &::after {
            }

            &::before {
            }

            &.open {

              &::before {
              }

              .list {
              }

              &::before {
              }

              &::after {
              }
            }

            .list {

              &::-webkit-scrollbar-thumb,
              &::-webkit-scrollbar {
              }

            }

            .option {

              &.selected.focus {

                &:hover {
                }
              }

              &:hover {
              }
            }
          }

          // align-items: center;
          &--size {
            margin-bottom: 1rem;
          }

          &--color {

            .setting-input {

              &.open {

                &::before,
                .color__input {
                }
              }
            }

            .color__input {

              &:disabled {
              }
            }

            .color__wrapper {

              .mCustomScrollBox {
              }

              .mCSB_inside > .mCSB_container {
              }

              .mCSB_container {
              }

              &::-webkit-scrollbar {

              }

              &::-webkit-scrollbar-thumb {

              }

              &-block {

                img {
                }

                &:hover,
                &.current {
                }
              }
            }
          }

          &--slider {

            .setting-name {
            }

            .settings__slider {

              &-img {

                img {
                }
              }

              &-item {

                &:hover {
                  .settings__slider-img {

                  }
                }

                &.current {
                  .settings__slider-img {
                  }

                  &:hover {
                    .settings__slider-img {
                    }
                  }
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                }

                .settings__slider-text {
                }
              }

              &.disabled {

                .settings__slider-item {
                }
              }

              // slick arrow
              .slick-arrow {
                &:hover {
                }

                &::before {
                }

                &.slick-next {
                }

                &.slick-prev {
                }
              }
            }
          }

          &--controls {

            h2 {
            }

            .onyx-select {

              &:hover {
              }

              &.active {
              }
            }

            p {
            }
          }

          &--glasstype {
            .glasstype__inner {

              &-item {
              }

              &-text {
              }
            }
          }

          // решетка
          .lattice-type {

            &:first-child {
            }

            .nice-select {

              .list {
              }
            }
          }

          &--inner {
          }

          &--outer {
          }
        }
      }
    }
  }
}


@media (max-width: 610px) {
  .product-onyx {
    max-width: 100%;
    .slick-slide {
    }

    //global
    .setting-row {
    }

    .onyx-select {
      width: 100% !important;
      .list {
        width: 100% !important;
      }
    }

    .setting-name {

      &.setting-name-top {
      }
    }

    .js-setting-input {
      &.open {
        &::after {
          right: 6px;
        }

        &::before {
        }
      }

      &::before {
        right: 8px;
      }
    }

    .setting-input {
      width: 100%;
      &:hover {
        .onyx-select {
          .list {
          }
        }
        &::before {

        }
      }
    }

    //-----------------------


    .product__photo {
      max-width: 100%;
      align-items: center;
      margin-bottom: 20px;
      .product__photo-onyx--wrapper {
        max-width: 300px;
        width: 100%;
        height: 310px;
        margin-bottom: 10px;
        .onyx__photo-icons {

          .item-icon {

            i {
              &::before {
              }
            }

            &:hover {

              i {
                &::before {
                }
              }
            }

            &.active {
              i {
                &::before {

                }
              }
            }
          }
        }

        .onyx__photo-promo {

          .slider-promo {

            &:not(:last-child) {
            }

            &.order {
            }

            &.top {
            }

            &.material {
            }

            &.discount {
            }

            &.shop {
            }

            &.novelty {
            }

            &.withdrawn {
            }

            &.guarantee {
            }
          }
        }

        .onyx__photo-view {
          .slider-view {
            i {
              &::before {
              }
            }
          }
        }

        .onyx-link-fancybox {
        }
      }
      .product__photo-social--wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;
      }

      &-onyx {

        .onyx-item {

          img {
          }

          &.onyx-1 {
          }

          &.onyx-2 {

            img {
            }
          }

          &.onyx-3 {
          }

          &.onyx-4 {
          }

          &.onyx-5 {
          }

          &.onyx-6 {
          }

          &.onyx-7 {
          }

          &.onyx-8 {
          }

          &.onyx-9 {
          }
        }
      }
      .product__photo-description {

      }
      .article.article-tablet {
        position: relative;
        bottom: auto;
      }
    }

    .product__card {
      align-items: initial;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
              "header"
              "first"
              "third"
              "second";
    }

    .product__choose {
      padding-left: 0 !important;
      .product__settings-area {

      }
      .product__buy {

        &-price {
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-right: 0;
          margin-bottom: 1rem;
          .price-counter {
            flex-direction: row;
            margin: 0 1rem 0 0 !important;
          }
        }

        &-act {
          .product__act-btn {
            justify-content: center;
            a {
              max-width: 170px !important;
              text-align: center;
              padding: 8px 20px 8px 40px;
              &:not(:last-child) {
                margin-right: 1rem;
              }
              &.buy-click {
                &::before {
                  left: -10px;
                }
              }
            }
          }
        }
      }

      .product__settings {
        justify-content: center;
        .product__settings-row-glass-grid {
          flex-direction: column;
          align-items: center;
          .product__settings-row {
            max-width: 300px;
            width: 100%;
          }
        }
        .product__settings-row {
          max-width: 300px;
          flex-direction: column;
          &.grid-glass-settings {
          }
          &.grid {
            grid-template-columns: 50%;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
          }
          &.glass-row {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
          }

          &.column {
          }
          &.select-row {
            align-items: center;
          }
          .nice-select {

            &:hover {
              &::before {
              }
            }

            &::after {
            }

            &::before {
            }

            &.open {

              &::before {
              }

              .list {
              }

              &::before {
              }

              &::after {
              }
            }

            .list {

              &::-webkit-scrollbar-thumb,
              &::-webkit-scrollbar {
              }

            }

            .option {

              &.selected.focus {

                &:hover {
                }
              }

              &:hover {
              }
            }
          }

          // align-items: center;
          &--size {
            margin-right: 0;
            align-items: center;
            max-width: 300px;
            width: 100%;
          }

          &--color {
            align-items: center;
            max-width: 300px;
            .setting-input {
              width: 100%;
              &.open {

                &::before,
                .color__input {
                }
              }
            }

            .color__input {
              font-size: 12px;
              padding-left: 5px;
              overflow: hidden;
              padding-right: 25px;
              &:disabled {
              }
            }

            .color__wrapper {

              .mCustomScrollBox {
              }

              .mCSB_inside > .mCSB_container {
              }

              .mCSB_container {
              }

              &::-webkit-scrollbar {

              }

              &::-webkit-scrollbar-thumb {

              }

              &-block {
                max-width: 90px;
                img {
                  margin-bottom: 7px;
                }

                &:hover,
                &.current {
                }
              }
            }
          }

          &--slider {

            .setting-name {
            }

            .settings__slider {

              &-img {

                img {
                }
              }

              &-item {

                &:hover {
                  .settings__slider-img {

                  }
                }

                &.current {
                  .settings__slider-img {
                  }

                  &:hover {
                    .settings__slider-img {
                    }
                  }
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                }

                .settings__slider-text {
                }
              }

              &.disabled {

                .settings__slider-item {
                }
              }

              // slick arrow
              .slick-arrow {
                &:hover {
                }

                &::before {
                }

                &.slick-next {
                }

                &.slick-prev {
                }
              }
            }
          }

          &--controls {
            flex-wrap: wrap;
            h2 {
            }

            .onyx-select {
              flex: 0 0 100px;
              max-width: 100px;
              &:hover {
              }

              &.active {
              }
            }

            p {
              display: flex;
              flex: 0 0 100%;
              max-width: 100%;
              margin-left: 0;
              margin-top: 10px;
            }
          }

          &--glasstype {
            .glasstype__inner {

              &-item {
              }

              &-text {
              }
            }
          }

          // решетка
          .lattice-type {

            &:first-child {
            }

            .nice-select {

              .list {
              }
            }
          }

          &--inner {
          }

          &--outer {
          }
        }
      }
    }
  }
}


@media (max-width: 460px) {
  .product-onyx {
    max-width: 300px;
    .slick-slide {
    }

    //global
    .setting-row {
    }

    .onyx-select {
    }

    .setting-name {

      &.setting-name-top {
      }
    }

    .js-setting-input {
      &.open {
        &::after {
        }

        &::before {
        }
      }

      &::before {
      }
    }

    .setting-input {

      &:hover {
        .onyx-select {
          .list {
          }
        }
        &::before {

        }
      }
    }

    //-----------------------


    .product__photo {
      margin-bottom: 10px;
      max-width: 300px;
      .product__photo-onyx--wrapper {
        margin-bottom: 0;
        .onyx__photo-icons {

          .item-icon {

            i {
              &::before {
              }
            }

            &:hover {

              i {
                &::before {
                }
              }
            }

            &.active {
              i {
                &::before {

                }
              }
            }
          }
        }

        .onyx__photo-promo {

          .slider-promo {

            &:not(:last-child) {
            }

            &.order {
            }

            &.top {
            }

            &.material {
            }

            &.discount {
            }

            &.shop {
            }

            &.novelty {
            }

            &.withdrawn {
            }

            &.guarantee {
            }
          }
        }

        .onyx__photo-view {
          .slider-view {
            i {
              &::before {
              }
            }
          }
        }

        .onyx-link-fancybox {
        }
      }
      .product__photo-social--wrapper {
          position: absolute;
        bottom: -68px;
        flex-direction: column;
        align-items: flex-start;
        z-index: 2;
        max-width: 170px;
        left: 0;
      }

      &-onyx {

        .onyx-item {

          img {
          }

          &.onyx-1 {
          }

          &.onyx-2 {

            img {
            }
          }

          &.onyx-3 {
          }

          &.onyx-4 {
          }

          &.onyx-5 {
          }

          &.onyx-6 {
          }

          &.onyx-7 {
          }

          &.onyx-8 {
          }

          &.onyx-9 {
          }
        }
      }
      .product__photo-description {

      }
      .article.article-tablet {
        margin-bottom: 5px;
      }
    }

    .product__card {
      grid-template-columns: 300px;
    }

    .product__choose {
      .product__settings-area {

      }
      .product__buy {

        &-price {
          flex-direction: column;
          align-items: flex-end;
          .price-counter {
            margin: 0 0 5px 0!important;
          }
        }

        &-act {
          .product__act-btn {
            a {

              &:not(:last-child) {
              }
              &.buy-click {
                &::before {
                }
              }
            }
          }
        }
      }

      .product__settings {

        .product__settings-row {
          &.grid-glass-settings {
            flex-direction: column;
          }
          &.grid {

          }
          &.glass-row {

          }

          &.column {
          }
          &.select-row {

          }
          .nice-select {

            &:hover {
              &::before {
              }
            }

            &::after {
            }

            &::before {
            }

            &.open {

              &::before {
              }

              .list {
              }

              &::before {
              }

              &::after {
              }
            }

            .list {

              &::-webkit-scrollbar-thumb,
              &::-webkit-scrollbar {
              }

            }

            .option {

              &.selected.focus {

                &:hover {
                }
              }

              &:hover {
              }
            }
          }

          // align-items: center;
          &--size {

          }

          &--color {

            .setting-input {

              &.open {

                &::before,
                .color__input {
                }
              }
            }

            .color__input {

              &:disabled {
              }
            }

            .color__wrapper {

              .mCustomScrollBox {
              }

              .mCSB_inside > .mCSB_container {
              }

              .mCSB_container {
              }

              &::-webkit-scrollbar {

              }

              &::-webkit-scrollbar-thumb {

              }

              &-block {
                img {
                }

                &:hover,
                &.current {
                }
              }
            }
          }

          &--slider {

            .setting-name {
            }

            .settings__slider {

              &-img {

                img {
                }
              }

              &-item {

                &:hover {
                  .settings__slider-img {

                  }
                }

                &.current {
                  .settings__slider-img {
                  }

                  &:hover {
                    .settings__slider-img {
                    }
                  }
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                }

                .settings__slider-text {
                }
              }

              &.disabled {

                .settings__slider-item {
                }
              }

              // slick arrow
              .slick-arrow {
                &:hover {
                }

                &::before {
                }

                &.slick-next {
                }

                &.slick-prev {
                }
              }
            }
          }

          &--controls {

            h2 {
            }

            .onyx-select {

              &:hover {
              }

              &.active {
              }
            }

            p {
            }
          }

          &--glasstype {
            .glasstype__inner {

              &-item {
              }

              &-text {
              }
            }
          }

          // решетка
          .lattice-type {

            &:first-child {
            }

            .nice-select {

              .list {
              }
            }
          }

          &--inner {
          }

          &--outer {
          }
        }
      }
    }
  }
}