.onyx-preview {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all .4s;
  max-width: max-content;
  z-index: 999999;
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 6px;
  padding: 10px 0;
  .close-onyx-preview {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000;
  }
  &.show {
    transform: translate(-50%, -50%) scale(1);
    transition: all .4s;
  }

  &__inner {
    position: relative;
      .product__photo-onyx {
        width: 250px;
        height: 450px;
        position: relative;
        padding: 0;
        border-radius: 4px;

        .onyx-item {
          position: absolute;
          width: 100%;
          max-width: 170px;

          height: 380px;
          left: 50%;

          img {
            width: 100%;
          }

          &.onyx-1 {

            top: 50%;
            transform: translate(-50%, -46%);
          }

          &.onyx-2 {
            transform: translate(-50%, 8%);
            height: 400px;
            max-width: 210px;

            img {
              height: 100%;
            }
          }

          &.onyx-3 {
            transform: translate(-50%, 4%);
            max-width: 230px;
          }

          &.onyx-4 {
            transform: translate(-50%, 7.2%);
            max-width: 210px;
          }

          &.onyx-5 {
            transform: translate(-50%, 12%);
            max-width: 210px;
          }

          &.onyx-6 {
            transform: translate(-50%, -50%);
            height: 35px;
            bottom: 0;
            max-width: 210px;
          }

          &.onyx-7 {
            transform: translate(-50%, 13%);
            z-index: 2;
          }

          &.onyx-8 {
            transform: translate(-50%, 13%);

          }

          &.onyx-9 {
            transform: translate(-50%, 13%);
            z-index: 3;
          }
        }
      }

      .article-tablet {
        display: none !important;
      }

  }
}