// global styles
.product-popup {
 position: fixed;
 @include centerCenterPopup;
 background-color: #fff;
 border: 2px solid #e7e7e7;
 border-radius: 8px;
 z-index: 9999;
 width: 100%;
 transition: transform 0.5s;

 &.active {
  transform: translate(-50%, -50%) scale(1);
 }
}

//basket add
.added-popup {
 max-width: 520px;

 &__inner {
  padding: 20px;

  &-title {
   font-size: 24px;
   color: #fff;
   font-weight: 600;
   display: flex;
   justify-content: center;
   background-color: #075791;
   border-radius: 2px;
   text-transform: uppercase;
   padding: 8px;
   margin-bottom: 20px;
  }

  &-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;

   a {
    height: auto;
    width: auto;
    width: auto;
    max-width: 230px !important;
    width: 100% !important;

    &.basket {

     text-align: center;

     &::before {
      content: url(../../img/product/btn-basket.png);
      transform: translate(80%, -50%);
     }
    }

    &::before {
     transform: translate(40%, -50%);
    }
   }
  }
 }
}

// comment adding

.popup-additional__wrapper {
 background-color: transparent !important;
 overflow: auto;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 position: fixed;
 z-index: 9998;
 display: flex;
 justify-content: center;
 transform: scale(0);
}

.popup-additional__wrapper.active {
 transform: scale(1);

 .additional-popup {
  transform: scale(1);
 }
}

.additional-popup {
 position: relative;
 height: max-content;
 top: 5%;
 margin-bottom: 4rem;
 transition: transform 0.3s;
 padding: 30px 65px;
 max-width: 980px;
 background-color: #fff;
 transform: scale(0);
 border-radius: 4px;

 .close-btn {
  right: 15px;
  top: 15px;
  color: #000;
 }

 &__inner {
  &-title {
   margin-bottom: 30px;
   font-size: 24px;
   font-weight: 600;
   text-align: center;
   text-transform: uppercase;
   color: #212121;
  }
 }

 &__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;

  .pagination-mob {
   display: none;
  }
 }

 &__item {
  flex: 0 0 25%;
  max-width: 25%;

  .card {
   width: 100%;
   margin: 10px 5px 10px 0;

   &__label {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 5px;
   }

   &__set {
    justify-content: flex-start;

    span {
     &:not(:last-child) {
      margin-right: 4px;
     }
    }
   }

   &__info-line {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 11px;
    color: #000;
   }
  }
 }
}

.buy-popup {
 max-width: 420px;

 .close-btn {
  right: 17px;
  top: 17px;
  position: absolute;
  color: #000;
 }

 &__inner {
  padding: 30px 20px;
  position: relative;

  &-title {
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 30px;
   text-transform: uppercase;
   text-align: center;
  }
 }

 &__form {
  &-input {
   width: 100%;
   margin-bottom: 20px;
   border: 2px solid #e7e7e7;
   border-radius: 4px;
   height: 40px;
   padding-left: 20px;
   font-size: 14px;
   outline: none;
  }

  &-accept {
   font-size: 14px;
   margin-bottom: 20px;

   label {
    display: block !important;

    &::after {
     top: 35% !important;
     left: 5px !important;
    }
   }

   a {
    color: #085892;
   }
  }

  &-btn {
   display: flex;
   justify-content: center;

   button {
    background: linear-gradient(0deg, rgba(253, 75, 4, 1) 0%, rgba(253, 105, 42, 1) 100%) !important;
    padding: 10px !important;

    &:hover,
    &:active,
    &:focus {
     background: linear-gradient(0deg, #e31d09 0, #fd692a 100%) !important;
    }
   }
  }
 }
}


.comment-popup {
 max-width: 760px;
 width: 100%;

 &__inner {
  padding: 60px 30px 30px 30px;
 }

 &__line {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  label {
   font-size: 16px;
   font-weight: 600;
   margin-bottom: 10px;
  }

  input {
   height: 40px;
   border: 2px solid #e7e7e7;
   border-radius: 4px;
   display: flex;
   align-items: center;
   padding-left: 20px;
   outline: none;
  }

  textarea {
   resize: none;
   height: 170px;
   border: 2px solid #e7e7e7;
   border-radius: 4px;
   padding-left: 20px;
   padding-top: 20px;
   outline: none;
  }
 }

 &__btn {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .comment-file-name {
   position: relative;

   &::before {
    content: url(../../../img/product/add-file.png) !important;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
   }
  }

  .file__import {}

  .comment-btn {
   padding: 7px 15px;
   max-width: 160px;
   text-align: center;
  }
 }

 .bred-kakoyta {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .product__rating {
   display: flex;
   margin-bottom: 10px;
   align-items: center;
  }

  span {
   font-size: 16px;
   font-weight: 600;
   margin-right: 15px;
  }
 }
}


// add additional product
.dop-popup {
 max-width: 520px;

 &__inner {
  position: relative;
  padding: 20px;

  &-title {}
 }

 &__content {
  display: flex;
  justify-content: space-between;
 }

 &__img {
  width: 100%;
  margin-right: 10px;

  img {
   width: 95% !important;
  }
 }

 &__info {
  max-width: 230px;

  &-title {
   font-size: 16px;
   font-weight: 700;
   color: #212121;
   margin-bottom: 10px;
   line-height: 24px;
  }

  &-title-mob {
   display: none;
  }

  &-counter {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
  }

  &-artcl {
   display: flex;
   align-items: flex-end;
   font-size: 12px;
  }

  .quantity-counter {
   .number-picker {}
  }

  &-price {
   margin-bottom: 10px;

   span {
    font-size: 30px;
    font-weight: 700;

    &:first-child {
     font-size: 24px;
     font-weight: 500;
     margin-right: 15px;
    }
   }
  }

  &-btn {
   display: flex;
   flex-direction: column;

   a {
    max-width: 230px !important;

    &:not(:last-child) {
     margin: 0 0 10px 0 !important
    }

   }
  }
 }
}




@media (max-width: 1200px) {
 .additional-popup {
  max-width: 680px;
  padding: 20px 30px;

  &__inner {
   &-title {
    margin-bottom: 18px;
   }
  }

  &__items {
   justify-content: space-between;
  }

  &__item {
   flex: 0 0 32%;
   max-width: 32%;
  }
 }
}

@media (max-width: 600px) {
 .popup-additional__wrapper {
  .additional-popup {
   padding: 25px 8px 8px 8px;

   &__inner {
    &-title {
     font-size: 16px;
    }
   }

   &__items {
    .pagination-mob {
     display: flex;
     width: 100%;
     justify-content: center;
    }
   }

  }
 }

 .additional-popup__item {
  flex: 0 0 49%;
  max-width: 49%;
 }
}

@media (max-width: 500px) {
 .dop-popup {
  max-width: 320px;

  &__inner {
   padding: 8px;

   &-title {
    margin-bottom: 20px !important;
   }
  }

  &__img {
   display: none;
  }

  &__info {
   max-width: 100%;
   width: 100%;

   &-title {
    display: none;
   }

   &-title-mob {
    display: block;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
   }

   &-counter {
    justify-content: center;
   }

   &-artcl {
    display: none;
   }

   &-price {
    text-align: center;
   }

   &-btn {
    flex-direction: row;
    justify-content: space-between;

    a {
     max-width: 140px;
     text-align: center;
     padding: 6px 15px 6px 40px !important;

     &:not(:last-child) {
      margin: 0 !important;
     }
    }
   }
  }
 }
}