// global styles
.product-popup {
 display: none;
}

.product-popup.fancybox-content {
 padding: 0;
 border-radius: 8px;
 cursor: default !important;
 overflow: initial;

 &.preview-popup-duo {
  .duo__slider {
   &-modal--inner {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    &.slick-initialized {
     display: block;
    }
   }
   &-title {
    width: 100%;
    display: flex;
   }
  }
  .preview-popup__wrapper-for {
   .preview-popup__wrapper-item {
    display: flex !important;
    justify-content: space-around;
    padding: 31px 0 !important;
   }
  }
  .product__styles {
   &-wrapper {
    display: flex;
    margin-bottom: 15px;
    .product__styles-size {
     margin-right: 65px;
     .product__styles-choice {
      margin-right: 0 !important;
     }
    }
   }
   .duo__slider {
    &-modal--inner {
     .slick-list.draggable {
      max-width: 460px;
     }
    }
    &-item {
     display: none;
     &:nth-child(1),
     &:nth-child(2),
     &:nth-child(3),
     &:nth-child(4),
     &:nth-child(5) {
      display: flex;
     }
    }
   }
  }
  .slick-arrow {
   position: absolute;
   top: 50%;
   width: 40px;
   height: 34px;
   box-shadow: 0 0 4px 1px rgba(175, 174, 175, 0.43);
   border-radius: 4px;
   border: none;
   background-color: #64b0ce;
   font-size: 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 18px;
   cursor: pointer;
   z-index: 990;
   transition: .3s;

   &:hover {
    background-color: #085892;
   }

   &::before {
    content: '\e91e';
    font-family: 'icomoon';
    font-size: 15px;
    color: #ffff;
   }

   &.slick-next {
    right: 10px;
    transform: translate(0, -50%);
   }

   &.slick-prev {
    left: -3px;
    transform: translate(0, -50%) rotate(180deg);
   }
  }
 }
&.preview-basket-add {
 max-width: 920px;
 width: 100%;
 button.fancybox-close-small {
  display: none;
 }
}
 &.added-popup {
  max-width: 520px;
  width: 100%;
  button.fancybox-close-small {
   display: none;
  }
 }
 &.buy-popup {
  max-width: 420px;
 }
 &.additional-popup {
  max-width: 980px;
 }
 &.dop-popup {
  max-width: 520px;
  width: 100%;
  button.fancybox-close-small {
   display: none;
  }
 }
 &.comment-popup {
  max-width: 760px;
  width: 100%;
 }
 &.preview-popup {
  max-width: 960px;
 }
 &.additional-popup {
  max-width: 980px;
 }
 &.measurer-popup,
 &.call-popup{
  max-width: 420px;
 }
 &.modal__reviews {
  max-width: 750px;
  width: 100%;
 }
}

//basket add+
.added-popup {

 &__inner {
  padding: 20px;

  &-title {
   font-size: 24px;
   color: #fff;
   font-weight: 600;
   display: flex;
   justify-content: center;
   background-color: #075791;
   border-radius: 2px;
   text-transform: uppercase;
   padding: 8px;
   margin-bottom: 20px;
  }

  &-btn {
   display: flex;
   align-items: center;
   justify-content: space-between;

   a {
    height: auto;
    width: auto;
    max-width: 230px !important;
    width: 100% !important;

    &.basket {
     text-align: center;
    }

    &::before {
     transform: translate(40%, -50%);
    }
   }
  }
 }
}

// comment adding

.additional-popup {
 position: relative;
 height: max-content;
 margin: 20px 0 !important;
 background-color: #fff;
 border-radius: 4px;
 .pagination-mob {
  display: none;
 }
 &__inner {
  padding: 30px 65px;
  &-title {
   margin-bottom: 30px;
   font-size: 24px;
   font-weight: 600;
   text-align: center;
   text-transform: uppercase;
   color: #212121;
  }
 }

 &__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;

  .pagination-mob {
   display: none;
  }
 }

 &__item {
  flex: 0 0 25%;
  max-width: 25%;

  .card {
   width: 100%;
   margin: 10px 5px 10px 0;

   &__label {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 5px;
   }

   &__set {
    justify-content: flex-start;

    span {
     &:not(:last-child) {
      margin-right: 4px;
     }
    }
   }

   &__info-line {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 11px;
    color: #000;
   }
  }
 }
}

//+
.buy-popup {
 &__inner {
  padding: 30px 20px;
  position: relative;

  &-title {
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 30px;
   text-transform: uppercase;
   text-align: center;
  }
 }

 &__form {
  &-input {
   width: 100%;
   margin-bottom: 20px;
   border: 2px solid #e7e7e7;
   border-radius: 4px;
   height: 40px;
   padding-left: 20px;
   font-size: 14px;
   outline: none;
  }

  &-accept {
   font-size: 14px;
   margin-bottom: 20px;

   label {
    display: block !important;

    &::after {
     top: 35% !important;
     left: 5px !important;
    }
   }

   a {
    color: #085892;
    &:hover {
     opacity: .8;
    }
   }
  }

  &-btn {
   display: flex;
   justify-content: center;

   button {
    background: linear-gradient(to top, #fd4b04 0, #fd692a 100%) !important;
    padding: 10px !important;

    &:hover,
    &:active,
    &:focus {
     background: linear-gradient(to top, #f60 0, #fd692a 100%) !important;
    }
   }
  }
 }
}

//+
.comment-popup {

 &__inner {
  padding: 60px 30px 30px 30px;
 }

 &__line {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  label {
   font-size: 16px;
   font-weight: 600;
   margin-bottom: 10px;
  }

  input {
   height: 40px;
   border: 2px solid #e7e7e7;
   border-radius: 4px;
   display: flex;
   align-items: center;
   padding-left: 20px;
   outline: none;
  }

  textarea {
   resize: none;
   height: 170px;
   border: 2px solid #e7e7e7;
   border-radius: 4px;
   padding-left: 20px;
   padding-top: 20px;
   outline: none;
  }
 }

 &__btn {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .text-mob {
   display: none;
  }

  .comment-file-name {
   position: relative;

   &::before {
    content: url(../../../img/product/add-file.svg) !important;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
   }
  }

  .file__import {}

  .comment-btn {
   padding: 7px 15px;
   max-width: 160px;
   text-align: center;
  }
 }

 .bred-kakoyta {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .product__rating {
   display: flex;
   margin-bottom: 10px;
   align-items: center;
  }

  span {
   font-size: 16px;
   font-weight: 600;
   margin-right: 15px;
  }
 }
}


// add additional product+
.dop-popup {

 &__inner {
  position: relative;
  padding: 20px;

  &-title {}
 }

 &__content {
  display: flex;
  justify-content: space-between;
 }

 &__img {
  width: 100%;
  margin-right: 10px;

  img {
   width: 95% !important;
  }
 }

 &__info {
  max-width: 230px;

  &-title {
   font-size: 16px;
   font-weight: 700;
   color: #212121;
   margin-bottom: 10px;
   line-height: 24px;
  }

  &-title-mob {
   display: none;
  }

  &-counter {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
  }

  &-artcl {
   display: flex;
   align-items: flex-end;
   font-size: 12px;
  }

  &-price {
   margin-bottom: 10px;

   span {
    font-size: 30px;
    font-weight: 700;

    &:first-child {
     font-size: 24px;
     font-weight: 500;
     margin-right: 15px;
    }
   }
  }

  &-btn {
   display: flex;
   flex-direction: column;

   a {
    max-width: 230px !important;

    &:not(:last-child) {
     margin: 0 0 10px 0 !important
    }
   }
  }
 }
}


.video-popup {
 max-width: 1200px;
 height: 700px;
 background-color: transparent;
 border: none;
}

@media (max-width: 1200px) {
 .additional-popup {
  max-width: 680px;
  padding: 20px 30px;

  &__inner {
   &-title {
    margin-bottom: 18px;
   }
  }

  &__items {
   justify-content: space-between;
  }

  &__item {
   flex: 0 0 32%;
   max-width: 32%;
  }
 }
}

@media(max-width: 750px) {
 .additional-popup {
  &__inner {
   padding: 20px 30px;
  }
 }
 .comment-popup {
  &__btn {
   flex-direction: column;

   .comment-btn {
    align-self: flex-end;
    margin-top: 10px;
   }
  }
 }
}

@media (max-width: 600px) {
  .additional-popup {
   padding: 25px 8px 8px 8px;
   .pagination-mob {
    display: flex;
   }
   &__inner {
    &-title {
     font-size: 16px;
    }
   }

   &__items {
    .pagination-mob {
     display: flex;
     width: 100%;
     justify-content: center;
    }
   }

  }
 .additional-popup__item {
  flex: 0 0 49%;
  max-width: 49%;
 }
}

@media (max-width: 500px) {
 .added-popup {

  &__inner {
   padding: 8px;
   &-title {
    font-size: 16px;
   }

   &-btn {
    a.btn-product {
     padding: 8px 20px 8px 40px;
     max-width: 200px !important;
     text-align: center;
    }
   }
  }
 }

 .dop-popup {

  &__inner {
   padding: 8px;

   &-title {
    margin-bottom: 20px !important;
   }
  }

  &__img {
   display: none;
  }

  &__info {
   max-width: 100%;
   width: 100%;

   &-title {
    display: none;
   }

   &-title-mob {
    display: block;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
   }

   &-counter {
    justify-content: center;
   }

   &-artcl {
    display: none;
   }

   &-price {
    text-align: center;
   }

   &-btn {
    flex-direction: row;
    justify-content: space-between;

    a {
     text-align: center;
     padding: 6px 15px 6px 35px !important;
     max-width: 170px !important;
     &::before {
      left: -4px !important;
     }
     &:not(:last-child) {
      margin-right: 5px !important;
      margin-bottom: 0 !important;
     }
    }
   }
  }
 }
 .additional-popup {

  &__inner {
   padding: 20px 8px;
  }
 }
 .comment-popup {
  max-width: 90%;

  .bred-kakoyta {
   flex-direction: column-reverse;

   .product__rating {
    flex-direction: column;
    align-items: flex-start;

    .jq-ry-container {
     padding: 0;
    }
   }
  }

  &__inner {
   padding: 25px 8px 15px 8px;
  }

  &__line {
   label {
    font-size: 14px;
    margin-bottom: 5px;
   }
  }

  .comment-popup__btn {
   .comment-file-name {
    font-size: 15px;
    padding-left: 25px;
   }
   span {
    display: none;
   }

   .text-mob {
    display: block;
   }
  }
 }
}
@media (max-width: 350px) {
 .additional-popup {
  width: 300px;
 }
}

@media (max-width: 400px) {
 .added-popup {
  &__inner {
   &-btn {
    a.btn-product {
     padding: 6px 10px 6px 35px;
     &.basket {
      &::before {
        left: -3px;
      }
     }

     &::before {
      left: -5px;
     }
    }
   }
  }
 }
}