.preview-basket-add {
  &.preview-basket-add-twodoor {
    max-width: 1020px;

    .modal__wrapper {
      &-photo {
        padding: 0;
      }

      .modal-f__content {
        &-wrapper {

          &:not(:last-child) {
            margin-right: 30px;
          }
        }

        &-radio {
          .mCSB_inside > .mCSB_container {
            margin-right: 20px;
          }
        }

        &-btn {
          justify-content: flex-start;
        }

        &-price {
          justify-content: flex-start;
        }

        &-counter {
          margin-right: 20px;
        }
      }
    }
  }

  &.preview-basket-add-duo {
    .modal__wrapper {
      &-photo {
        padding: 0;
        display: flex;
        justify-content: space-around;
      }

      .modal-f__content {
        &-radios {
          flex-direction: column;
        }

        &-wrapper {
          flex-direction: row;
          margin-right: 0 !important;
          margin-bottom: 25px;

          .product__styles-size {
            margin-right: 80px;

            .product__styles-choice {
              flex-direction: row;
              display: flex;
            }
          }
        }

        .duo__slider {
          &-basket--inner {
            max-width: 420px;
            margin-left: 40px;
            display: flex;
            justify-content: space-between;

            &.slick-initialized {
              display: block;
            }
          }

          &-item {
            height: 80px;
            display: none;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              display: block;
            }
          }

          .slick-arrow {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 34px;
            box-shadow: 0 0 4px 1px rgba(175, 174, 175, 0.43);
            border-radius: 4px;
            border: none;
            background-color: #64b0ce;
            font-size: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 18px;
            cursor: pointer;
            z-index: 990;
            transition: .3s;

            &:hover {
              background-color: #085892;
            }

            &::before {
              content: '\e91e';
              font-family: 'icomoon';
              font-size: 15px;
              color: #ffff;
            }

            &.slick-next {
              right: -30px;
              transform: translate(0, -50%);
            }

            &.slick-prev {
              left: -30px;
              transform: translate(0, -50%) rotate(180deg);
            }
          }
        }

        &-radio {
          align-items: center;
        }

        .radio-global {
          &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 20px;
          }
        }
      }
    }
  }

  .modal__wrapper {
    display: flex;
    padding: 10px;

    &-photo {
      padding: 20px 70px;
      border: 1px solid #e7e7e7;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
      max-width: 380px;
      width: 100%;

      .fancybox-link-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-content {
    }

    .modal-f__content {
      &-title {
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        background-color: #075791;
        color: #fff;
        padding: 5px;
        font-weight: 600;
        margin-bottom: 10px;
        border-radius: 2px;
      }

      &-name {
        font-size: 20px;
        font-weight: 700;
        color: #212121;
        margin-bottom: 10px;
      }

      &-price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
      }

      &-articl {
        margin-right: 10px;
      }

      &-title-counter {
        display: none;
      }

      &-counter {
        display: flex;
        align-items: center;
        font-weight: 500;

        .quantity-counter {
          width: 100px;
        }
      }

      &-total {
        display: flex;
        font-weight: 700;
        color: #212121;
        font-size: 24px;
        align-items: center;

        span {
          font-weight: 500;
          font-size: 20px;
          display: flex;
          align-items: center;
          margin-right: 5px;
        }
      }

      &-btn {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;

        .btn-product {
          max-width: 230px;
          width: 100%;
          padding: 15px 25px 15px 40px;
        }
      }

      &-radioname {
        font-weight: 700;
        color: #212121;
        font-size: 14px;
        margin-bottom: 13px;
      }

      &-radios {
        display: flex;
        margin-bottom: 10px;
      }

      &-wrapper {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          margin-right: 50px;
          max-width: 120px;
          width: 100%;
        }
      }

      .radio-global {
        display: flex;
        font-size: 12px;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }

      &-select {
        display: none;

      }

      &-radio {
        display: flex;

        .product__styles-choice {
          max-height: 155px;
          max-width: 120px;
          width: 100%;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          overflow-y: auto;
        }

        .mCSB_inside > .mCSB_container {
          margin-right: 30px;
        }
      }

      &-cancel {
        display: flex;
        justify-content: flex-end;

        a {
          color: #085892;
          font-size: 14px;
          transition: all .4s;

          &:hover {
            opacity: .8;
            transition: all .4s;
          }
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  .product-popup.fancybox-content {
    &.preview-basket-add {
      max-width: 760px;
    }
    &.preview-basket-add-duo {
      .modal__wrapper {
        &-photo {
          padding: 20px 0;
          .duo-door-item {
            width: 130px;
            height: 275px;
            img {
              width: 100%;
            }
          }
        }
        .modal-f__content {
          &-wrapper {
            .product__styles-size {
              margin-right: 50px;
              .product__styles-choice {
              }
            }
          }

          .duo__slider {
            &-basket--inner {
              margin-left: 30px;
              max-width: 380px;
            }
          }
        }
      }
    }
  }
  .preview-basket-add {
    &.preview-basket-add-twodoor {
      .modal__wrapper {
        &-photo {
          padding: 0;
          height: 50%;
          max-width: 230px;
          bottom: 125px;

          img {
            width: 100%;
          }
        }

        .modal-f__content {

          &-btn,
          &-price,
          &-radios {
            max-width: 500px;
          }
        }
      }
    }

    .modal__wrapper {
      &-photo {
        position: absolute;
        bottom: 10px;
        left: 10px;
        max-width: 280px;
        padding: 0;
        margin: 0;

        img {
          width: 72%;
        }
      }

      &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .modal-f__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-title {
          width: 100%;
        }

        &-name {
          width: 100%;
        }

        &-price {
          max-width: 440px;
          width: 100%;
        }

        &-articl {
          margin-right: 10px;
        }

        &-counter {
          display: flex;
          align-items: center;
          font-weight: 500;

          .quantity-counter {
            width: 100px;
          }
        }


        &-btn {
          max-width: 440px;
          width: 100%;

          .btn-product {
            max-width: 210px;
            width: 100%;
            padding: 15px 10px 15px 35px;

            &.go-next {
              &::before {
                left: -3px;
                top: 50%;
              }
            }
          }
        }

        &-radios {
          max-width: 440px;
        }

        &-wrapper {

          &:not(:last-child) {
            margin-right: 20px;
          }
        }

        &-radio {
          display: flex;

          .mCSB_inside > .mCSB_container {
            margin-right: 20px;
          }
        }

        &-cancel {
          max-width: 440px;
        }
      }
    }
  }

}

@media (max-width: 980px) {
  .preview-basket-add {
    &.preview-basket-add-twodoor {
      .modal__wrapper {
        &-photo {
          display: none;
        }

        .modal-f__content {
          align-items: center;

          &-price,
          &-btn,
          &-radios {
            max-width: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .preview-basket-add {
    &.preview-basket-add-twodoor {
      .modal__wrapper {

        .modal-f__content {
          align-items: center;

          &-wrapper {
            margin-top: 10px;
          }

          &-select {
            .product__styles-select {
              .list {
                max-width: 400px;

                li {
                  width: 100%;
                  max-width: 400px;
                }
              }
            }

            .product__styles-compl--select {
              width: 100%;
              max-width: 400px;
              min-width: 280px;
            }
          }

          &-radios {
            flex-wrap: wrap;
          }
        }
      }
    }
    &.preview-basket-add-duo {
      .modal__wrapper {
        &-photo {
          display: none;
        }

        .modal-f__content {
          &-radios {

          }
          &-radioname {
            font-weight: 600 !important;
          }
          &-radio {
            display: flex;
          }
        }
      }
    }
    .modal__wrapper {
      &-photo {
        display: none;
      }

      .modal-f__content {
        position: relative;
        padding: 60px 0 70px;
        flex-direction: column-reverse;
        align-items: center;

        &-radio {
          display: none;
        }

        &-title {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }

        .product__styles-choice {
          display: none;
        }

        &-wrapper:not(:last-child) {
          margin-right: 30px;
        }

        &-radioname {
          margin-bottom: 8px;
        }

        &-radios {
          display: flex;
          width: 100%;
        }

        &-select {
          display: block;

          .product__styles-select {
            font-size: 14px;
            flood-color: #212121;
            position: relative;

            &::before {
              content: '\e91e';
              font-family: 'icomoon';
              color: #212121;
              position: absolute;
              transform: rotate(90deg) translateX(-50%);
              top: 6px;
              right: 14px;
              font-size: 11px;
              z-index: 2;
              transition: all .4s;
            }

            &::after {
              display: none;
            }

            .list {
              width: 100%;
              margin-top: 10px;
              max-height: 200px;
              max-width: 240px;
              overflow-y: scroll;
              overflow-x: hidden;

              .option {
                max-width: 240px;
                white-space: pre-line;
                line-height: 17px;
                height: 37px;
                min-height: 37px;
                display: flex;
                align-items: center;

                &:not(:last-child) {
                  border-bottom: 1px solid #e7e7e7;
                }

                &.selected,
                &.focus {
                  background: transparent;
                  color: #212121;
                  font-weight: 500;
                }
              }
            }

            &.open {
              &::before {
                transform: rotate(270deg) translateX(-50%);
                top: -5px;
                color: #64b0ce;
              }

              .current {
                color: #64b0ce;
              }
            }

            &.open,
            &:focus {
              border: solid 1px #e8e8e8;
            }
          }

          .product__styles-size--select {
            width: 166px;
          }

          .product__styles-compl--select {
            width: 240px;
            max-width: 240px;

            .current {
              max-width: 230px;
              display: flex;
              align-items: center;
              white-space: pre-line;
              line-height: 14px;
              height: 100%;
            }
          }
        }

        &-btn {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          margin-bottom: 0;
        }

        &-articl {
          display: none;
        }

        &-price {
          justify-content: flex-start;
        }

        &-name {
          display: none;
        }

        &-counter {
          margin-right: 25px;
        }

        &-title-counter {
          display: block;
          margin-right: 10px;
        }

        &-cancel {
          display: none;
        }
      }
    }
  }
}


@media (max-width: 600px) {
  .preview-basket-add {
    &.preview-basket-add-twodoor {
      .modal__wrapper {
        .modal-f__content {
          &-radios {
            flex-direction: row;
            .modal-f__content-wrapper:first-child,
            .modal-f__content-wrapper:nth-child(2) {
              flex: 0 0 45%;
              max-width: 45%;
              margin: 0 5px 10px 5px;
            }
          }
        }
      }
    }

    .modal__wrapper {
      .modal-f__content {
        padding: 40px 0 50px;

        &-title {
          font-size: 14px;
        }

        &-wrapper {
          width: 100%;
          align-items: center;

          margin: 0 0 20px 0;
        }

        &-wrapper:not(:last-child) {
          margin-right: 0;
        }

        &-radioname {
          font-weight: 500;
        }

        &-radios {
          flex-direction: column;
        }

        &-select {

          .product__styles-select {

            .list {
              max-width: 100%;
              max-height: 187px;

              .option {
                max-width: 100%;

                &:not(:last-child) {
                }
              }
            }
          }

          .product__styles-size--select {
            width: 170px;
          }

          .product__styles-compl--select {
            width: 280px;
          }
        }

        &-btn {
          .btn-product {
            padding: 8px 22px 8px 44px;
            text-align: center;
          }
        }

        &-price {
          flex-direction: column;
        }

        &-counter {
          justify-content: center;
          flex-direction: column;
          margin-bottom: 10px;
          margin-right: 0;
        }

        &-total {
          justify-content: center;
        }

        &-title-counter {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}


@media (max-width: 500px) {
  .preview-basket-add {
    max-width: 90%;

    &.preview-basket-add-twodoor {
      .modal__wrapper {
        .modal-f__content {
          &-wrapper {
            margin: 0;
          }

          &-select {
            width: 100%;
            justify-content: center;
            display: flex;

            .product__styles-select {

              .list {
                li {
                }
              }
            }

            .product__styles-size--select {
              width: 140px;
            }
          }

          &-radios {
            flex-direction: row;
            justify-content: space-between;

            .modal-f__content-wrapper:first-child,
            .modal-f__content-wrapper:nth-child(2) {
              margin: 10px 0 !important;
              max-width: 140px;
            }
          }
        }
      }
    }
    &.preview-basket-add-duo {
      .modal__wrapper {
        .modal-f__content {
          .radio-global {
            margin: 0 0 10px 0 !important;
            width: 100%;
          }
          &-wrapper {
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
            .product__styles-size {
              margin: 0 !important;
              .product__styles-choice {
                flex-direction: column;
              }
            }
          }
          &-radio {
            flex-direction: column;
          }
          .duo__slider {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &-basket--inner {
              max-width: 300px !important;
            }

            .slick-arrow {

              &.slick-next {
                right: -10px !important;
              }
            }
          }
        }
      }
    }
    .modal__wrapper {
      .modal-f__content {
        &-btn {
          .btn-product {
            &::before {
              left: -6px;
            }
            &.go-next::before {
              left: -2px;
            }

            &:not(:last-child) {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .preview-basket-add {
    &.preview-basket-add-duo {
      .modal__wrapper {
        .modal-f__content {
          .duo__slider {
            &-basket--inner {
              max-width: 230px !important;
              margin-left: 10px !important;
            }
          }
        }
      }
    }
    .modal__wrapper {
      .modal-f__content {
        &-btn {
          .btn-product {
            padding: 8px 15px 8px 35px;
          }
          font-size: 13px;
        }
      }
    }

    &.preview-basket-add-twodoor {
      max-width: 95%;

      .modal__wrapper {
        padding: 6px;

        .modal-f__content {
          &-wrapper {
            margin: 0;
          }
        }
      }
    }
  }
}