<div class="product-popup preview-basket-add modal-block" data-modal="basket-fast-add">
	<div class="modal__wrapper">
		<div class="modal__wrapper-photo"><img src="../../img/product/product-slider-for.png" alt=""></div>
		<div class="modal__wrapper-content">
			<div class="modal-f__content">
				<div class="modal-f__content-title">товар добавлен в корзину</div>
				<div class="modal-f__content-name">Межкомнатная одностворчатая дверь СМАЛЬТА 11 остеклённая, cлоновая кость,
					платина, золото</div>
				<div class="modal-f__content-price">
					<div class="modal-f__content-counter">
						<div class="modal-f__content-articl">Артикул: ТК2503</div>
						<div class="quantity-counter">
							<div class="number-picker"></div>
						</div>
					</div>
					<div class="modal-f__content-total"><span>Сумма: </span>11 607 ₽</div>
				</div>
				<div class="modal-f__content-btn">
					<a class="btn-product" href="javascript:void(0)">Продолжить покупки</a>
					<a class="btn-product" href="javascript:void(0)">Перейти в корзину</a>
				</div>
				<div class="modal-f__content-radios">
					<div class="modal-f__content-wrapper">
						<div class="modal-f__content-radioname">Размер:</div>
						<div class="modal-f__content-radio">
							<div class="product__styles-choice scroll">
								<div class="product__choice-line radio-global">
									<input checked id="choice-adding-size-1" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-1">400x2000</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-2" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-2">550x1900</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-3" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-3">600x1900</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-4" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-4">600x2000</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-5" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-5">700x2000</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-6" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-6">800x2000</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-7" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-7">900x2000</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-8" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-8">1000x2500</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-9" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-9">1100x2500</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-10" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-10">1200x2500</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-11" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-11">1300x3000</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-12" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-12">1300x3000</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-13" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-13">1300x3000</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-14" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-14">1300x3000</label>
								</div>
								<div class="product__choice-line radio-global">
									<input id="choice-adding-size-15" type="radio" name="choice-adding-size">
									<label for="choice-adding-size-15">1300x3000</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-f__content-wrapper">
						<div class="modal-f__content-radioname">Комплект:</div>
						<div class="product__styles-choice">
							<div class="product__choice-line radio-global">
								<input checked id="choice-adding-set-1" type="radio" name="choice-adding-set">
								<label class="choice-adding-set" for="choice-set-1">Без комплекта</label>
							</div>
							<div class="product__choice-line radio-global">
								<input id="choice-adding-set-2" type="radio" name="choice-adding-set">
								<label class="choice-adding-set" for="choice-set-2">Коробка + наличники</label>
							</div>
							<div class="product__choice-line radio-global">
								<input id="choice-adding-set-3" type="radio" name="choice-adding-set">
								<label class="choice-adding-set" for="choice-set-3">Коробка + наличники
									телескопические</label>
							</div>
							<div class="product__choice-line radio-global">
								<input id="choice-adding-set-4" type="radio" name="choice-adding-set">
								<label class="choice-adding-set" for="choice-set-4">Для двустворчатой двери</label>
							</div>
							<div class="product__choice-line radio-global">
								<input id="choice-adding-set-5" type="radio" name="choice-adding-set">
								<label class="choice-adding-set" for="choice-set-5">Для двустворчатой двери
									телескопический</label>
							</div>
							<div class="product__choice-line radio-global">
								<input id="choice-adding-set-6" type="radio" name="choice-adding-set">
								<label class="choice-adding-set" for="choice-set-6">Для двустворчатой двери
									телескопический</label>
							</div>
							<div class="product__choice-line radio-global">
								<input id="choice-adding-set-7" type="radio" name="choice-adding-set">
								<label class="choice-adding-set" for="choice-set-7">Для раздвижной двери
									тескопический</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-f__content-cancel">
					<a href="javascript:void(0)" class="close-btn">Отменить</a>
				</div>
			</div>
		</div>
	</div>
</div>