<div class="product-popup preview-basket-add preview-basket-add-twodoor" id="basket-fast-add-twodoor">
    <div class="modal__wrapper">
        <div class="modal__wrapper-photo"><img src="../../img/product/product-twodoor-slider-for.jpg" alt=""></div>
        <div class="modal__wrapper-content">
            <div class="modal-f__content">
                <div class="modal-f__content-title">товар добавлен в корзину</div>
                <div class="modal-f__content-name">
                    Межкомнатная одностворчатая дверь СМАЛЬТА 11 остеклённая, cлоновая кость, платина, золото
                </div>
                <div class="modal-f__content-price">
                    <div class="modal-f__content-counter">
                        <div class="modal-f__content-articl">Артикул: ТК2503</div>
                        <div class="modal-f__content-title-counter">Колличество:</div>
                        <div class="quantity-counter">
                            <div class="number-picker"></div>
                        </div>
                    </div>
                    <div class="modal-f__content-total"><span>Сумма: </span>11 607 ₽</div>
                </div>
                <div class="modal-f__content-btn">
                    <a class="btn-product go-next close-btn" data-fancybox-close href="javascript:void(0)">Продолжить покупки</a>
                    <a class="btn-product basket" href="javascript:void(0)">Перейти в корзину</a>
                </div>
                <div class="modal-f__content-radios">
                    <div class="modal-f__content-wrapper">
                        <div class="modal-f__content-radioname">Размер:</div>
                        <div class="modal-f__content-select">
                            <select class="product__styles-select product__styles-size--select">
                                <option value="0" selected>400x2000</option>
                                <option value="1">550x1900</option>
                                <option value="2">600x1900</option>
                                <option value="3">600x2000</option>
                                <option value="4">700x2000</option>
                                <option value="5">800x2000</option>
                                <option value="6">900x2000</option>
                                <option value="7">1000x2500</option>
                                <option value="8">1100x2500</option>
                                <option value="9">1200x2500</option>
                                <option value="10">1300x3000</option>
                                <option value="11">1300x3000</option>
                                <option value="12">1300x3000</option>
                                <option value="13">1300x3000</option>
                                <option value="14">1300x3000</option>
                            </select>
                        </div>
                        <div class="modal-f__content-radio">
                            <div class="product__styles-choice scrollY">
                                <div class="product__choice-line radio-global">
                                    <input checked id="choice-adding-first-size-1" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-1">400x2000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-2" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-2">550x1900</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-3" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-3">600x1900</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-4" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-4">600x2000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-5" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-5">700x2000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-6" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-6">800x2000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-7" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-7">900x2000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-8" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-8">1000x2500</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-9" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-9">1100x2500</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-10" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-10">1200x2500</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-11" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-11">1300x3000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-12" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-12">1300x3000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-13" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-13">1300x3000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-14" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-14">1300x3000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-first-size-15" type="radio" name="choice-adding-size-first">
                                    <label for="choice-adding-first-size-15">1300x3000</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-f__content-wrapper">
                        <div class="modal-f__content-radioname">2-ой двери:</div>
                        <div class="modal-f__content-select">
                            <select class="product__styles-select product__styles-size--select">
                                <option value="0" selected>400x2000</option>
                                <option value="1">550x1900</option>
                                <option value="2">600x1900</option>
                                <option value="3">600x2000</option>
                                <option value="4">700x2000</option>
                                <option value="5">800x2000</option>
                                <option value="6">900x2000</option>
                                <option value="7">1000x2500</option>
                                <option value="8">1100x2500</option>
                                <option value="9">1200x2500</option>
                                <option value="10">1300x3000</option>
                                <option value="11">1300x3000</option>
                                <option value="12">1300x3000</option>
                                <option value="13">1300x3000</option>
                                <option value="14">1300x3000</option>
                            </select>
                        </div>
                        <div class="modal-f__content-radio">
                            <div class="product__styles-choice scrollY">
                                <div class="product__choice-line radio-global">
                                    <input checked id="choice-adding-second-size-1" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-1">400x2000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-2" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-2">550x1900</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-3" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-3">600x1900</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-4" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-4">600x2000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-5" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-5">700x2000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-6" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-6">800x2000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-7" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-7">900x2000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-8" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-8">1000x2500</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-9" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-9">1100x2500</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-10" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-10">1200x2500</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-11" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-11">1300x3000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-12" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-12">1300x3000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-13" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-13">1300x3000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-14" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-14">1300x3000</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-second-size-15" type="radio" name="choice-adding-size">
                                    <label for="choice-adding-second-size-15">1300x3000</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-f__content-wrapper">
                        <div class="modal-f__content-radioname">Комплект:</div>
                        <div class="modal-f__content-select">
                            <select class="product__styles-select product__styles-compl--select">
                                <option value="0" selected>Без комплекта</option>
                                <option value="1">Коробка + наличники</option>
                                <option value="2">Коробка T + наличники T</option>
                            </select>
                        </div>
                        <div class="product__styles-set">
                            <div class="product__styles-choice">
                                <div class="product__choice-line radio-global without-text">
                                    <input checked="" id="choice-adding-set-twodoor-1" type="radio" name="choice-set-modal">
                                    <label class="choice-set without-text" for="choice-adding-set-twodoor-1">Без комплекта</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-set-twodoor-2" type="radio" name="choice-set-modal">
                                    <label class="choice-set" for="choice-adding-set-twodoor-2" data-price="1000">Коробка + наличники</label>
                                </div>
                                <div class="product__choice-line radio-global">
                                    <input id="choice-adding-set-twodoor-3" type="radio" name="choice-set-modal">
                                    <label class="choice-set" for="choice-adding-set-twodoor-3" data-price="170">Коробка T + наличники T</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-f__content-cancel">
                    <a href="javascript:void(0)" class="close-btn">Отменить</a>
                </div>
            </div>
        </div>
    </div>
</div>
